---
title: Page loader
layout: documentation
doc-tab: elements
doc-subtab: pageloader
npm-version: 0.1.1
variables:
- name: $pageloader-opacity
  value: 1
---

{% include subnav-elements.html %}

{% capture pageloader_example %}
<div class="pageloader"><span class="title">Pageloader</span></div>
{% endcapture %}

{% capture pageloader2_example %}
<div class="pageloader is-right-to-left"><span class="title">Pageloader</span></div>
{% endcapture %}

{% capture pageloader3_example %}
<div class="pageloader is-left-to-right"><span class="title">Pageloader</span></div>
{% endcapture %}

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title">Page-loader</h1>
        <h2 class="subtitle">
          Display a <strong>page-loader</strong> to inform users that content is loading, in different colors.
        </h2>
      </div>
      <div class="column is-narrow">
        <div class="field is-grouped is-grouped-multiline">
          <div class="control">
            <a class="tags has-addons" href="https://github.com/Wikiki/bulma-pageloader" target="_blank">
              <span class="tag">View on Github</span>
              <span class="tag is-dark">
                <span class="icon">
                  <i class="fa fa-github"></i>
                </span>
              </span>
            </a>
          </div>
          <div class="control">
            <a class="tags has-addons" href="https://www.npmjs.com/package/bulma-pageloader" target="_blank">
              <span class="tag">NPM Package</span>
              <span class="tag is-success">{{ page.npm-version }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    {%
      include meta.html
      colors=true
      variables=true
    %}

    <hr>

    <div class="columns">
      <div class="column">
        <button data-target="pageloader" class="button is-primary">Show Page-loader (3 sec only)</button>
      </div>
      <div class="column">
        {% highlight html %}{{pageloader_example}}{% endhighlight %}
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <button data-target="pageloader2" class="button is-primary">Show Page-loader from right</button>
      </div>
      <div class="column">
        {% highlight html %}{{pageloader2_example}}{% endhighlight %}
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <button data-target="pageloader3" class="button is-primary">Show Page-loader from left</button>
      </div>
      <div class="column">
        {% highlight html %}{{pageloader3_example}}{% endhighlight %}
      </div>
    </div>

    {% include variables.html %}

    <div id="pageloader" class="pageloader"><span class="title">Pageloader</span></div>
    <div id="pageloader2" class="pageloader is-right-to-left"><span class="title">Pageloader</span></div>
    <div id="pageloader3" class="pageloader is-left-to-right"><span class="title">Pageloader</span></div>
  </div>
</section>

<script>
var buttons = document.querySelectorAll('button[data-target]');

// Check if there are any nav burgers
[].forEach.call(buttons, function(button) {
  button.addEventListener('click', function(e) {
    e.preventDefault();

    var pageloader = document.getElementById(e.currentTarget.dataset.target);
    if (pageloader) {
      pageloader.classList.toggle('is-active');
      var pageloaderTimeout = setTimeout( function() {
        pageloader.classList.toggle('is-active');
        clearTimeout(pageloaderTimeout);
      }, 3000 );
    }
  } );
});
</script>
