---
title: Tooltip
layout: documentation
doc-tab: elements
doc-subtab: tooltip
npm-version: 3.0.1
variables:
- name: $tooltip-arrow-size
  value: 6px
- name: $tooltip-background-color
  value: $grey-dark
- name: $tooltip-background-opacity
  value: 0.9
- name: $tooltip-color
  value: $white
- name: $tooltip-font-family
  value: $family-primary
- name: $tooltip-font-size
  value: $size-7
- name: $tooltip-max-width
  value: 15rem
- name: $tooltip-padding
  value: .5rem 1rem
- name: $tooltip-radius
  value: $radius-small
- name: $tooltip-z-index
  value: 1020
---

{% include subnav-elements.html %}

{% capture tooltip_example %}
<div class="column">
  <button class="button is-primary" data-tooltip="Tooltip Text">Tooltip</button>
</div>
{% endcapture %}

{% capture tooltip_sizes_example %}
<div class="column">
  <button class="button is-primary has-tooltip-multiline" data-tooltip="Tooltip with a long Text. So we use has-tooltip-multiline modifier to force multiline display.">Multiline Tooltip</button>
</div>
{% endcapture %}

{% capture tooltip_positions_example %}
<div class="columns is-multiline text-center">
  <div class="column">
    <button class="button is-primary" data-tooltip="Tooltip Text">top tooltip</button>
  </div>
  <div class="column">
    <button class="button is-primary has-tooltip-right" data-tooltip="Tooltip Text">right tooltip</button>
  </div>
  <div class="column">
    <button class="button is-primary has-tooltip-bottom" data-tooltip="Tooltip Text">bottom tooltip</button>
  </div>
  <div class="column">
    <button class="button is-primary has-tooltip-left" data-tooltip="Tooltip Text">left tooltip</button>
  </div>
</div>
{% endcapture %}

{% capture tooltip_arrows_example %}
<div class="columns is-multiline text-center">
  <div class="column">
    <button class="button is-primary has-tooltip-arrow" data-tooltip="Tooltip Text">top tooltip</button>
  </div>
  <div class="column">
    <button class="button is-primary has-tooltip-right has-tooltip-arrow" data-tooltip="Tooltip Text">right
      tooltip</button>
  </div>
  <div class="column">
    <button class="button is-primary has-tooltip-bottom has-tooltip-arrow" data-tooltip="Tooltip Text">bottom
      tooltip</button>
  </div>
  <div class="column">
    <button class="button is-primary has-tooltip-left has-tooltip-arrow" data-tooltip="Tooltip Text">left
      tooltip</button>
  </div>
</div>
{% endcapture %}

{% capture tooltip_responsive_positioning_example %}
<div class="column">
  <button class="button is-primary has-tooltip-top has-tooltip-bottom-desktop has-tooltip-active" data-tooltip="Hi! I'm on top and bottom.">Top and Bottom</button>
</div>
{% endcapture %}

{% capture tooltip_colors_example %}
<div class="columns is-multiline text-center">
  <div class="column">
    <button class="button has-tooltip-primary" data-tooltip="Tooltip Text">Primary tooltip</button>
  </div>
  <div class="column">
    <button class="button has-tooltip-info" data-tooltip="Tooltip Text">Info tooltip</button>
  </div>
  <div class="column">
    <button class="button has-tooltip-success" data-tooltip="Tooltip Text">Success tooltip</button>
  </div>
  <div class="column">
    <button class="button has-tooltip-warning" data-tooltip="Tooltip Text">Warning tooltip</button>
  </div>
  <div class="column">
    <button class="button has-tooltip-danger" data-tooltip="Tooltip Text">Danger tooltip</button>
  </div>
</div>
{% endcapture %}

{% capture tooltip_active_example %}
<div class="columns is-multiline text-center">
  <div class="column">
    <button class="button is-primary has-tooltip-active" data-tooltip="Tooltip Text">Always active tooltip</button>
  </div>
</div>
{% endcapture %}

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title">Tooltip</h1>
        <h2 class="subtitle">
          Display a <strong>tooltip</strong> attached to any kind of element with different positioning.
        </h2>
      </div>
      <div class="column is-narrow">
        <div class="field is-grouped is-grouped-multiline">
          <div class="control">
            <a class="tags has-addons" href="https://github.com/Wikiki/bulma-tooltip" target="_blank">
              <span class="tag">View on Github</span>
              <span class="tag is-dark">
                <span class="icon">
                  <i class="fa fa-github"></i>
                </span>
              </span>
            </a>
          </div>
          <div class="control">
            <a class="tags has-addons" href="https://www.npmjs.com/package/bulma-tooltip" target="_blank">
              <span class="tag">NPM Package</span>
              <span class="tag is-success">{{ page.npm-version }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    {%
      include meta.html
      colors=true
      sizes=true
      variables=true
    %}

    <hr>

    {% include snippet.html content=tooltip_example size="one-third" %}

    <hr>

    <h3 class="title">Positions</h3>
    <p>You can use one of the following modifiers to change positions of the tooltip: 
        <ul>
            <li><code>.has-tooltip-top</code></li>
            <li><code>.has-tooltip-right</code></li>
            <li><code>.has-tooltip-bottom</code></li>
            <li><code>.has-tooltip-left</code></li>
        </ul>
    </p>
    {% include snippet.html content=tooltip_positions_example size="one-half" %}

    {% include anchor.html name="Responsive Positioning" %}
    <h4 class="subtitle">You can position the tooltip at differently depending on the screen size.</h4>
    {% include snippet.html content=tooltip_responsive_positioning_example size="one-half" %}
    <p>The format of the responsiveness classes is
      <code>has-tooltip-<b>**position**</b>-<b>**responsive_helper**</b></code>,
      such as <code>has-tooltip-bottom-desktop</code> and <code>has-tooltip-left-tablet-only</code>.</p>
    <p>Beware that you should place the responsiveness classes <i>after</i> the main position class.</p>
    <br>
    <div class="message is-primary">
      <div class="message-header">
        List of Responsive Helpers
      </div>
      <div class="message-body">
        You may refer to the <a href="https://bulma.io/documentation/modifiers/responsive-helpers/">Documentation of Bulma</a> for all of the available responsive helpers.
      </div>
    </div>

    <!-- <h3 class="title">Arrow</h3>
    <p>By default tooltip as no arrow. You can add it easily by using the <code>.has-tooltip-arrow</code> modifier.</p>
    {% include snippet.html content=tooltip_arrows_example size="one-half" %} -->

    {% include anchor.html name="Sizes" %}
    <h4 class="subtitle">You can force multiline display by using the <code>.has-tooltip-multiline</code> modifier.</h4>
    {% include snippet.html content=tooltip_sizes_example size="one-half" %}

    {% include anchor.html name="Colors" %}
    <h4 class="subtitle">You can use color modifiers to change the tooltip background color.</h4>
    {% include snippet.html content=tooltip_colors_example size="one-half" %}

    {% include anchor.html name="AlwaysActive" %}
    <h4 class="subtitle">By adding the <code>.has-tooltip-active</code> modifier, you can make a tooltip show always, instead of just when hovering over the element.</h4>
    {% include snippet.html content=tooltip_active_example size="one-half" %}

    {% include variables.html %}
  </div>
</section>
