---
title: IconPicker
layout: documentation
doc-tab: form
doc-subtab: iconpicker
npm-version: 0.1.0
---

{% include subnav-form.html %}

{% capture iconpicker_example %}
<input type="text" id="iconPicker" data-action="iconPicker" value="fa fa-icon fa-star" />
<p class="help">Click on icon to open the iconPicker.</p>
{% endcapture %}

{% capture iconpicker_js %}
<script type="text/javascript" src="./js/iconPicker.js"></script>
{% endcapture %}

{% capture iconpicker_js_customize %}
let iconPickerOptions = {
  iconSets: [ {
    name: 'simpleLine', // Name displayed on tab
    css: 'https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css', // CSS url containing icons rules
    prefix: 'icon-', // CSS rules prefix to identify icons
    displayPrefix: ''
  },
  {
    name: 'fontAwesome', // Name displayed on tab
    css: 'https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css', // CSS url containing icons rules
    prefix: 'fa-', // CSS rules prefix to identify icons
    displayPrefix: 'fa fa-icon'
  } ]
};
{% endcapture %}

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title">{{ page.title }}</h1>
        <h2 class="subtitle">
          Display an input as an Icon Picker to ease the user icon selection.
        </h2>
      </div>
      <div class="column is-narrow">
        <div class="field is-grouped is-grouped-multiline">
          <div class="control">
            <a class="tags has-addons" href="https://github.com/Wikiki/bulma-iconpicker" target="_blank">
              <span class="tag">View on Github</span>
              <span class="tag is-dark">
                <span class="icon">
                  <i class="fa fa-github"></i>
                </span>
              </span>
            </a>
          </div>
          <div class="control">
            <a class="tags has-addons" href="https://www.npmjs.com/package/bulma-iconpicker" target="_blank">
              <span class="tag">NPM Package</span>
              <span class="tag is-success">{{ page.npm-version }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    {%
      include meta.html
      javascript=true
    %}

    <hr>

    {% include snippet.html content=iconpicker_example size="one-third" %}

    <div class="notification is-info">
      <p>You don't have to write any JavaScript code. Just add <code>data-action="iconPicker"</code> attribute to the input element and see the magic happens.</p>
    </DIV>

    <hr>

    <div id="squickviewsExample" class="message is-info">
      <h4 class="message-header">Javascript</h4>
      <div class="message-body">
        <div class="content">
          <p>The extension comes with a JavaScript implementation to display / close the IconPicker. Don't forget to include it in your project.</p>

          {% highlight javascript %}{{ iconpicker_js }}{% endhighlight %}

          <p>you can customize icon sets by overwriting <code>iconPickerOptions</code> variable like following:</p>
          {% highlight javascript %}{{ iconpicker_js_customize }}{% endhighlight %}
        </div>
      </div>
    </div>

  </div>
</section>

<script type="text/javascript" src="{{ site.url}}/assets/js/iconPicker.js"></script>
