---
layout: documentation
title: Slider
doc-tab: form
doc-subtab: slider
npm-version: 2.0.0
variables:
- name: $switch-background
  value: $grey-light
---

{% include subnav-form.html %}

{% capture slider_example %}
<input class="slider is-fullwidth" step="1" min="0" max="100" value="50" type="range">
{% endcapture %}

{% capture slider_vertical_example %}
<input class="slider is-fullwidth" step="1" min="0" max="100" value="50" type="range" orient="vertical">
{% endcapture %}

{% capture slider_disabled_example %}
<input class="slider is-fullwidth" step="1" min="0" max="100" value="50" type="range" disabled="disabled">
{% endcapture %}

{% capture slider_colors_example %}
<input class="slider is-fullwidth" step="1" min="0" max="100" value="50" type="range">

<input class="slider is-fullwidth is-success" step="1" min="0" max="100" value="50" type="range">

<input class="slider is-fullwidth is-warning" step="1" min="0" max="100" value="50" type="range">

<input class="slider is-fullwidth is-danger" step="1" min="0" max="100" value="50" type="range">

<input class="slider is-fullwidth is-info" step="1" min="0" max="100" value="50" type="range">
{% endcapture %}

{% capture slider_sizes_example %}
<input class="slider is-fullwidth is-small" step="1" min="0" max="100" value="50" type="range" disabled="disabled">

<input class="slider is-fullwidth is-small" step="1" min="0" max="100" value="50" type="range">

<input class="slider is-fullwidth" step="1" min="0" max="100" value="50" type="range">

<input class="slider is-fullwidth is-medium" step="1" min="0" max="100" value="50" type="range">

<input class="slider is-fullwidth is-large" step="1" min="0" max="100" value="50" type="range">
{% endcapture %}

{% capture slider_circle_example %}
<input class="slider is-fullwidth is-small is-circle" step="1" min="0" max="100" value="50" type="range" disabled="disabled">

<input class="slider is-fullwidth is-small is-circle" step="1" min="0" max="100" value="50" type="range">

<input class="slider is-fullwidth is-success is-circle" step="1" min="0" max="100" value="50" type="range">

<input class="slider is-fullwidth is-medium is-warning is-circle" step="1" min="0" max="100" value="50" type="range">

<input class="slider is-fullwidth is-large is-danger is-circle" step="1" min="0" max="100" value="50" type="range">
{% endcapture %}

{% capture slider_js_html %}
<input id="sliderWithValue" class="slider has-output is-fullwidth" min="0" max="100" value="50" step="1" type="range">
<output for="sliderWithValue">50</output>
{% endcapture %}

{% capture slider_js_tooltip_html %}
<input id="sliderWithValueTooltip" class="slider has-output-tooltip is-fullwidth" min="0" max="100" value="50" step="1" type="range">
<output for="sliderWithValueTooltip">50</output>
{% endcapture %}

{% capture slider_js_code %}
// Find output DOM associated to the DOM element passed as parameter
function findOutputForSlider( element ) {
   var idVal = element.id;
   outputs = document.getElementsByTagName( 'output' );
   for( var i = 0; i < outputs.length; i++ ) {
     if ( outputs[ i ].htmlFor == idVal )
       return outputs[ i ];
   }
}

function getSliderOutputPosition( slider ) {
  // Update output position
  var newPlace,
      minValue;

  var style = window.getComputedStyle( slider, null );
  // Measure width of range input
  sliderWidth = parseInt( style.getPropertyValue( 'width' ), 10 );

  // Figure out placement percentage between left and right of input
  if ( !slider.getAttribute( 'min' ) ) {
    minValue = 0;
  } else {
    minValue = slider.getAttribute( 'min' );
  }
  var newPoint = ( slider.value - minValue ) / ( slider.getAttribute( 'max' ) - minValue );

  // Prevent bubble from going beyond left or right (unsupported browsers)
  if ( newPoint < 0 ) {
    newPlace = 0;
  } else if ( newPoint > 1 ) {
    newPlace = sliderWidth;
  } else {
    newPlace = sliderWidth * newPoint;
  }

  return {
    'position': newPlace + 'px'
  }
}

document.addEventListener( 'DOMContentLoaded', function () {
  // Get all document sliders
  var sliders = document.querySelectorAll( 'input[type="range"].slider' );
  [].forEach.call( sliders, function ( slider ) {
    var output = findOutputForSlider( slider );
    if ( output ) {
      if ( slider.classList.contains( 'has-output-tooltip' ) ) {
        // Get new output position
        var newPosition = getSliderOutputPosition( slider );

        // Set output position
        output.style[ 'left' ] = newPosition.position;
      }

      // Add event listener to update output when slider value change
      slider.addEventListener( 'input', function( event ) {
        if ( event.target.classList.contains( 'has-output-tooltip' ) ) {
          // Get new output position
          var newPosition = getSliderOutputPosition( event.target );

          // Set output position
          output.style[ 'left' ] = newPosition.position;
        }

        // Update output with slider value
        output.value = event.target.value;
      } );
    }
  } );
} );
{% endcapture %}

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title">Slider</h1>
        <h2 class="subtitle">
          Display a classic <strong>slider</strong> with different colors, sizes, and states
        </h2>
      </div>
      <div class="column is-narrow">
        <div class="field is-grouped is-grouped-multiline">
          <div class="control">
            <a class="tags has-addons" href="https://github.com/Wikiki/bulma-slider" target="_blank">
              <span class="tag">View on Github</span>
              <span class="tag is-dark">
                <span class="icon">
                  <i class="fa fa-github"></i>
                </span>
              </span>
            </a>
          </div>
          <div class="control">
            <a class="tags has-addons" href="https://www.npmjs.com/package/bulma-slider" target="_blank">
              <span class="tag">NPM Package</span>
              <span class="tag is-success">{{ page.npm-version }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    {%
      include meta.html
      colors=true
      sizes=true
      javascript=true
      variables=true
    %}

    <hr>

    {% include snippet.html content=slider_example size="one-half" %}

    {% include anchor.html name="Colors" %}
    {% include snippet.html content=slider_colors_example size="one-half" %}

    {% include anchor.html name="Sizes" %}
    {% include snippet.html content=slider_sizes_example size="one-half" %}

    <hr>

    <h3 class="title">Styles</h3>
    <h4 class="subtitle">Circle</h4>
    {% include snippet.html content=slider_circle_example size="one-half" %}

    <hr>

    <h3 class="title">Positions</h3>
    <h4 class="subtitle">vertical</h4>
    <p>Display a vertical slider by adding <code>orient="vertical"</code> to the range input.</p>
    {% include snippet.html content=slider_vertical_example size="one-half" %}

    <h3 class="title">States</h3>
    <h4 class="subtitle">Disabled</h4>
    {% include snippet.html content=slider_disabled_example size="one-half" %}

    {% include anchor.html name="Javascript" %}
    <h3 class="title">Display value</h3>
    <p>Display the slider value by adding an <code>output</code> DOM element after the slider and the class <code>has-output</code> to the slider. Then use the following JavaScript implementation:</p>
    <div class="bd-example">
      <!--Example missing-->
      {{slider_js_html}}
    </div>
    <br/>
    <p>Display the output as a tooltip by changing the class <code>has-output</code> to <code>has-output-tooltip</code> and use the following JavaScript implementation:</p>
    <div class="bd-example">
      <!--Example missing-->
      {{slider_js_tooltip_html}}
    </div>

    <div id="sliderJsExample" class="message is-info">
      <h4 class="message-header">Javascript</h4>
      <div class="message-body">
        <div class="content">
          <p>
            The extension comes with a JavaScript implementation which updates the output value associated to the slider.
          </p>

          {% highlight html %}{{ slider_js_html }}{% endhighlight %}

          {% highlight javascript %}{{ slider_js_code }}{% endhighlight %}
        </div>
      </div>
    </div>

    {% include variables.html %}

    <script type="text/javascript" src="{{ site.url }}/node_modules/bulma-extensions/bulma-slider/dist/js/bulma-slider.js"></script>
    <script>
      bulmaSlider.attach();
    </script>
  </div>
</section>
