<footer class="footer">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half has-text-centered">
        <p id="tsp">
          <a href="https://bulma.io" target="_blank">
            <img src="{{ site.url }}/images/made-with-bulma.png" alt="Made with Bulma" width="128" height="24">
          </a>
          <small>
            Source code licensed <a href="https://opensource.org/licenses/mit-license.php">MIT</a>.
          </small>
        </p>
        <br />
        <a href='https://ko-fi.com/wikiki' target='_blank'><img height='36' style='border:0px;height:36px;' src='https://az743702.vo.msecnd.net/cdn/kofi1.png?v=0' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a>
      </div>
    </div>
  </div>
</footer>

<script src="{{ site.url }}/vendor/clipboard-1.7.1.min.js"></script>
<script src="{{ site.url }}/js/main.js?v={{ site.time | date: '%Y%m%d%H%M' }}"></script>

<script async defer type="text/javascript">
  (function() {
    window.fnames = new Array();
    window.ftypes = new Array();
    fnames[0]='EMAIL';
    ftypes[0]='email';
  }());
  // var $mcj = window.jQuery.noConflict(true);
</script>
