<nav id="navbar" class="navbar is-fixed-top {% if include.transparent %}is-transparent{% endif %}">
  <div id="specialShadow" class="bd-special-shadow"></div>

  <div class="container">

  <div class="navbar-brand">
    <a class="navbar-item" href="{{ site.url }}">
      <strong>{{ site.title }}</strong>
    </a>

    <a class="navbar-item is-hidden-desktop" href="{{ site.github }}" target="_blank">
      <span class="icon" style="color: #333;">
        <i class="fa fa-lg fa-github"></i>
      </span>
    </a>

    <div id="navbarBurger" class="navbar-burger burger" data-target="navMenu{{ include.id }}">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navMenu{{ include.id }}" class="navbar-menu">
    <div class="navbar-start">
    </div>

    <div class="navbar-end">
      <a class="navbar-item is-hidden-desktop-only" href="{{ site.github }}" target="_blank">
        <span class="icon" style="color: #333;">
          <i class="fa fa-lg fa-github"></i>
        </span>
      </a>

      <div class="navbar-item">
        <a class="is-hidden-desktop-only tags has-addons is-small" href="https://www.npmjs.com/package/bulma-extensions" target="_blank">
          <span class="tag">npm</span>
          <span class="tag is-dark">{{ site.version }}</span>
        </a>
      </div>
    </div>
  </div>

  </div>
</nav>
