<nav class="navbar has-shadow">
  <div class="container">
    <div class="navbar-tabs">
      <a class="navbar-item is-tab {% if page.doc-subtab == 'badge' %}is-active{% endif %}" href="{{ site.url }}/elements/badge/">
        Badge
      </a>
      <a class="navbar-item is-tab {% if page.doc-subtab == 'divider' %}is-active{% endif %}" href="{{ site.url }}/elements/divider/">
        Divider
      </a>
      <a class="navbar-item is-tab {% if page.doc-subtab == 'pageloader' %}is-active{% endif %}" href="{{ site.url }}/elements/pageloader/">
        Page-loader
      </a>
      <a class="navbar-item is-tab {% if page.doc-subtab == 'tooltip' %}is-active{% endif %}" href="{{ site.url }}/elements/tooltip/">
        Tooltip
      </a>
    </div>
  </div>
</nav>
