---
title: Accordion
layout: documentation
doc-tab: components
doc-subtab: accordion
npm-version: 0.2.1
---

{% include subnav-components.html %}

{% capture accordion_example %}
<section class="accordions">
  <article class="accordion is-active">
    <div class="accordion-header toggle">
      <p>Hello World</p>
    </div>
    <div class="accordion-body">
      <div class="accordion-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
      </div>
    </div>
  </article>
  <article class="accordion">
    <div class="accordion-header">
      <p>Hello World</p>
      <button class="toggle" aria-label="toggle"></button>
    </div>
    <div class="accordion-body">
      <div class="accordion-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
      </div>
    </div>
  </article>
  <article class="accordion">
    <div class="accordion-header">
      <p>Hello World</p>
      <button class="toggle" aria-label="toggle"></button>
    </div>
    <div class="accordion-body">
      <div class="accordion-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
      </div>
    </div>
  </article>
</section>
{% endcapture %}

{% capture accordion_js %}
<script type="text/javascript" src="/node_modules/bulma-extensions/bulma-accordion/dist/js/bulma-accordion.min.js"></script>
{% endcapture %}


<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title">{{ page.title }}</h1>
        <h2 class="subtitle">
          A simple accordion extension for Bulma
        </h2>
      </div>
      <div class="column is-narrow">
        <div class="field is-grouped is-grouped-multiline">
          <div class="control">
            <a class="tags has-addons" href="https://github.com/Wikiki/bulma-accordion" target="_blank">
              <span class="tag">View on Github</span>
              <span class="tag is-dark">
                <span class="icon">
                  <i class="fa fa-github"></i>
                </span>
              </span>
            </a>
          </div>
          <div class="control">
            <a class="tags has-addons" href="https://www.npmjs.com/package/bulma-accordion" target="_blank">
              <span class="tag">NPM Package</span>
              <span class="tag is-success">{{ page.npm-version }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    {%
      include meta.html
      colors=true
      sizes=true
      javascript=true
    %}

    <hr>

    {% include snippet.html content=accordion_example size="one-half" more=true %}
    <p>Set <code>toggle</code> class on the element you want to handle the expand/collapse action.</p>

    {% include anchor.html name="Javascript" %}
    <div class="message is-info">
      <h4 class="message-header">Javascript</h4>
      <div class="message-body">
        <div class="content">
          <p>The extension comes with a JavaScript implementation to expand / collapse accordion items. Don't forget to include it in your project.</p>

          {% highlight javascript %}{{ accordion_js }}{% endhighlight %}

          <p>Then just add the following code once your DOM's ready:</p>
          {% highlight javascript %}var accordions = bulmaAccordion.attach(); // accordions now contains an array of all Accordion instances{% endhighlight %}
        </div>
      </div>
    </div>

  </div>
</section>

<script type="text/javascript" src="{{ site.url }}/node_modules/bulma-extensions/bulma-accordion/dist/js/bulma-accordion.min.js"></script>
<script>
  bulmaAccordion.attach();
</script>
