---
title: Calendar
layout: documentation
doc-tab: components
doc-subtab: calendar
npm-version: 5.0.1
---

{% include subnav-components.html %}

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title">Calendar</h1>
        <h2 class="subtitle">
          Display a <strong>calendar</strong> with different colors and sizes
        </h2>
      </div>
      <div class="column is-narrow">
        <div class="field is-grouped is-grouped-multiline">
          <div class="control">
            <a class="tags has-addons" href="https://github.com/Wikiki/bulma-calendar" target="_blank">
              <span class="tag">View on Github</span>
              <span class="tag is-dark">
                <span class="icon">
                  <i class="fa fa-github"></i>
                </span>
              </span>
            </a>
          </div>
          <div class="control">
            <a class="tags has-addons" href="https://www.npmjs.com/package/bulma-calendar" target="_blank">
              <span class="tag">NPM Package</span>
              <span class="tag is-success">{{ page.npm-version }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <article class="message is-warning">
      <div class="message-body">
        Full documentation and demos of this component are now available on <a href="http://creativebulma.net//product/calendar"
          target="_blank">CreativeBulma</a>.
      </div>
    </article>
  </div>
</section>
