---
title: Pricing table
layout: documentation
doc-tab: components
doc-subtab: pricingtable
npm-version: 0.2.0
variables:
- name: $pricing-plan-border
  value: .1rem solid $white-ter
- name: $pricing-plan-border-radius
  value: $radius
- name: $pricing-plan-active-shadow
  value: 0 8px 12px 0 rgba($grey, 0.2)
- name: $pricing-plan-active-transform
  value: scale(1.05)
- name: $pricing-header-background
  value: $white
- name: $pricing-item-background
  value: $white-ter
- name: $pricing-item-border
  value: .1rem solid white
- name: $pricing-item-color
  value: $grey
- name: $pricing-price-background
  value: $white
---

{% include subnav-components.html %}

{% capture pricingtable_example %}
<div class="pricing-table">
  <div class="pricing-plan">
    <div class="plan-header">Starter</div>
    <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>20</span>/month</div>
    <div class="plan-items">
      <div class="plan-item">20GB Storage</div>
      <div class="plan-item">100 Domains</div>
      <div class="plan-item">-</div>
      <div class="plan-item">-</div>
    </div>
    <div class="plan-footer">
      <button class="button is-fullwidth" disabled="disabled">Current plan</button>
    </div>
  </div>

  <div class="pricing-plan is-warning">
    <div class="plan-header">Startups</div>
    <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>40</span>/month</div>
    <div class="plan-items">
      <div class="plan-item">20GB Storage</div>
      <div class="plan-item">25 Domains</div>
      <div class="plan-item">1TB Bandwidth</div>
      <div class="plan-item">-</div>
    </div>
    <div class="plan-footer">
      <button class="button is-fullwidth">Choose</button>
    </div>
  </div>

  <div class="pricing-plan is-active">
    <div class="plan-header">Growing Team</div>
    <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>60</span>/month</div>
    <div class="plan-items">
      <div class="plan-item">200GB Storage</div>
      <div class="plan-item">50 Domains</div>
      <div class="plan-item">1TB Bandwidth</div>
      <div class="plan-item">100 Email Boxes</div>
    </div>
    <div class="plan-footer">
      <button class="button is-fullwidth">Choose</button>
    </div>
  </div>

  <div class="pricing-plan is-danger">
    <div class="plan-header">Enterprise</div>
    <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>100</span>/month</div>
    <div class="plan-items">
      <div class="plan-item">2TB Storage</div>
      <div class="plan-item">100 Domains</div>
      <div class="plan-item">1TB Bandwidth</div>
      <div class="plan-item">1000 Email Boxes</div>
    </div>
    <div class="plan-footer">
      <button class="button is-fullwidth">Choose</button>
    </div>
  </div>
</div>
{% endcapture %}

{% capture pricingtable_comparison_example %}
<div class="pricing-table is-comparative">
  <div class="pricing-plan is-features">
    <div class="plan-header">Features</div>
    <div class="plan-price"><span class="plan-price-amount">&nbsp;</span></div>
    <div class="plan-items">
      <div class="plan-item">Storage</div>
      <div class="plan-item">Domains</div>
      <div class="plan-item">Bandwidth</div>
      <div class="plan-item">Email Boxes</div>
    </div>
    <div class="plan-footer">

    </div>
  </div>
  <div class="pricing-plan">
    <div class="plan-header">Starter</div>
    <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>20</span>/month</div>
    <div class="plan-items">
      <div class="plan-item" data-feature="Storage">20GB</div>
      <div class="plan-item" data-feature="Domains">100</div>
      <div class="plan-item" data-feature="Bandwidth">-</div>
      <div class="plan-item" data-feature="Email Boxes">-</div>
    </div>
    <div class="plan-footer">
      <button class="button is-fullwidth" disabled="disabled">Current plan</button>
    </div>
  </div>

  <div class="pricing-plan is-warning">
    <div class="plan-header">Startups</div>
    <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>40</span>/month</div>
    <div class="plan-items">
      <div class="plan-item" data-feature="Storage">20GB</div>
      <div class="plan-item" data-feature="Domains">25</div>
      <div class="plan-item" data-feature="Bandwidth">1TB</div>
      <div class="plan-item" data-feature="Email Boxes">-</div>
    </div>
    <div class="plan-footer">
      <button class="button is-fullwidth">Choose</button>
    </div>
  </div>

  <div class="pricing-plan is-active">
    <div class="plan-header">Growing Team</div>
    <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>60</span>/month</div>
    <div class="plan-items">
      <div class="plan-item" data-feature="Storage">200GB</div>
      <div class="plan-item" data-feature="Domains">50</div>
      <div class="plan-item" data-feature="Bandwidth">1TB</div>
      <div class="plan-item" data-feature="Email Boxes">100</div>
    </div>
    <div class="plan-footer">
      <button class="button is-fullwidth">Choose</button>
    </div>
  </div>

  <div class="pricing-plan is-danger">
    <div class="plan-header">Enterprise</div>
    <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>100</span>/month</div>
    <div class="plan-items">
      <div class="plan-item" data-feature="Storage">2TB</div>
      <div class="plan-item" data-feature="Domains">100</div>
      <div class="plan-item" data-feature="Bandwidth">1TB</div>
      <div class="plan-item" data-feature="Email Boxes">1000</div>
    </div>
    <div class="plan-footer">
      <button class="button is-fullwidth">Choose</button>
    </div>
  </div>
</div>
{% endcapture %}

{% capture pricingtable_horizontal_example %}
<div class="pricing-table is-horizontal">
  <div class="pricing-plan">
    <div class="plan-header">Starter</div>
    <div class="plan-items">
      <div class="plan-item">20GB Storage</div>
      <div class="plan-item">100 Domains</div>
      <div class="plan-item">-</div>
      <div class="plan-item">-</div>
    </div>
    <div class="plan-footer">
      <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>20</span>/month</div>
      <button class="button is-fullwidth" disabled="disabled">Current plan</button>
    </div>
  </div>

  <div class="pricing-plan is-warning">
    <div class="plan-header">Startups</div>
    <div class="plan-items">
      <div class="plan-item">20GB Storage</div>
      <div class="plan-item">25 Domains</div>
      <div class="plan-item">1TB Bandwidth</div>
      <div class="plan-item">-</div>
    </div>
    <div class="plan-footer">
      <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>40</span>/month</div>
      <button class="button is-fullwidth">Choose</button>
    </div>
  </div>

  <div class="pricing-plan is-active">
    <div class="plan-header">Growing Team</div>
    <div class="plan-items">
      <div class="plan-item">200GB Storage</div>
      <div class="plan-item">50 Domains</div>
      <div class="plan-item">1TB Bandwidth</div>
      <div class="plan-item">100 Email Boxes</div>
    </div>
    <div class="plan-footer">
      <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>60</span>/month</div>
      <button class="button is-fullwidth">Choose</button>
    </div>
  </div>

  <div class="pricing-plan is-danger">
    <div class="plan-header">Enterprise</div>
    <div class="plan-items">
      <div class="plan-item">2TB Storage</div>
      <div class="plan-item">100 Domains</div>
      <div class="plan-item">1TB Bandwidth</div>
      <div class="plan-item">1000 Email Boxes</div>
    </div>
    <div class="plan-footer">
      <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>100</span>/month</div>
      <button class="button is-fullwidth">Choose</button>
    </div>
  </div>
</div>
{% endcapture %}

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title">Pricing table</h1>
        <h2 class="subtitle">
          Display a <strong>pricing table</strong> easily.
        </h2>
      </div>
      <div class="column is-narrow">
        <div class="field is-grouped is-grouped-multiline">
          <div class="control">
            <a class="tags has-addons" href="https://github.com/Wikiki/bulma-pricingtable" target="_blank">
              <span class="tag">View on Github</span>
              <span class="tag is-dark">
                <span class="icon">
                  <i class="fa fa-github"></i>
                </span>
              </span>
            </a>
          </div>
          <div class="control">
            <a class="tags has-addons" href="https://www.npmjs.com/package/bulma-pricingtable" target="_blank">
              <span class="tag">NPM Package</span>
              <span class="tag is-success">{{ page.npm-version }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    {%
      include meta.html
      colors=true
      variables=true
    %}

    <hr>

    {% include snippet.html content=pricingtable_example horizontal=true more=true %}

    <h3 class="title">Comparative</h3>
    <h4 class="subtitle">You can choose to display the pricing tables as a comparative table by adding the <code>.is-comparative</code> modifier to the pricing-table element.</h4>
    {% include snippet.html content=pricingtable_comparison_example horizontal=true more=true %}

    <h3 class="title">Orientation</h3>
    <h4 class="subtitle">You can choose to display the pricing tables horizontally just by adding the <code>.is-horizontal</code> modifier to the pricing-table element.</h4>
    {% include snippet.html content=pricingtable_horizontal_example horizontal=true more=true %}

    {% include variables.html %}
  </div>
</section>
