<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top route-documentation">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Set of missing Bulma.io functionalities provided as SASS / JavaScript extensions.">

  <title>Calendar | Bulma-Extensions</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  
  
  
  <link rel="stylesheet" href="https://wikiki.github.io/css/documentation.css?v=201910231839">

  <link rel="canonical" href="https://wikiki.github.io/components/calendar/">
  <link rel="alternate" type="application/rss+xml" title="Bulma-Extensions" href="https://wikiki.github.io/feed.xml">

  <meta property="og:url" content="https://wikiki.github.io">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Bulma-Extensions">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta property="og:description" content="Set of missing Bulma.io functionalities provided as SASS / JavaScript extensions.">

  <link rel="apple-touch-icon" sizes="180x180" href="https://wikiki.github.io/favicons/apple-touch-icon.png?v=201701041855">
  <link rel="icon" type="image/png" href="https://wikiki.github.io/favicons/favicon-32x32.png?v=201701041855" sizes="32x32">
  <link rel="icon" type="image/png" href="https://wikiki.github.io/favicons/favicon-16x16.png?v=201701041855" sizes="16x16">
  <link rel="manifest" href="https://wikiki.github.io/favicons/manifest.json?v=201701041855">
  <link rel="mask-icon" href="https://wikiki.github.io/favicons/safari-pinned-tab.svg?v=201701041855" color="#00d1b2">
  <link rel="shortcut icon" href="https://wikiki.github.io/favicons/favicon.ico?v=201701041855">
  <meta name="msapplication-config" content="https://wikiki.github.io/favicons/browserconfig.xml?v=201701041855">
  <meta name="theme-color" content="#00d1b2">
</head>

  <body class="layout-documentation page-components">
    <nav id="navbar" class="navbar is-fixed-top ">
  <div id="specialShadow" class="bd-special-shadow"></div>

  <div class="container">

  <div class="navbar-brand">
    <a class="navbar-item" href="https://wikiki.github.io">
      <strong>Bulma-Extensions</strong>
    </a>

    <a class="navbar-item is-hidden-desktop" href="https://github.com/wikiki/bulma-extensions" target="_blank">
      <span class="icon" style="color: #333;">
        <i class="fa fa-lg fa-github"></i>
      </span>
    </a>

    <div id="navbarBurger" class="navbar-burger burger" data-target="navMenu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navMenu" class="navbar-menu">
    <div class="navbar-start">
    </div>

    <div class="navbar-end">
      <a class="navbar-item is-hidden-desktop-only" href="https://github.com/wikiki/bulma-extensions" target="_blank">
        <span class="icon" style="color: #333;">
          <i class="fa fa-lg fa-github"></i>
        </span>
      </a>

      <div class="navbar-item">
        <a class="is-hidden-desktop-only tags has-addons is-small" href="https://www.npmjs.com/package/bulma-extensions" target="_blank">
          <span class="tag">npm</span>
          <span class="tag is-dark">6.2.4</span>
        </a>
      </div>

      <div class="navbar-item">
        <a href='https://ko-fi.com/wikiki' target='_blank'><img height='36' style='border:0px;height:36px;' src='https://az743702.vo.msecnd.net/cdn/kofi1.png?v=0' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a>
      </div>
    </div>
  </div>

  </div>
</nav>

    <section class="hero is-link">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column">
          <p class="title">
            Documentation
          </p>
          <p class="subtitle">
            Everything you need to start with Bulma-extensions.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="hero-foot">
    <div class="container">
      <nav class="tabs is-boxed">
        <ul>
          <li >
            <a href="https://wikiki.github.io">Overview</a>
          </li>
          <li >
            <a href="https://wikiki.github.io/layout/divider/">Layout</a>
          </li>
          <li >
            <a href="https://wikiki.github.io/form/checkradio">Form</a>
          </li>
          <li >
            <a href="https://wikiki.github.io/elements/badge/">Elements</a>
          </li>
          <li class="is-active">
            <a href="https://wikiki.github.io/components/accordion/">Components</a>
          </li>
        </ul>
        </nav>
      </div>
    </div>
  
</section>

    <nav id="navbar" class="navbar is-fixed-top ">
  <div id="specialShadow" class="bd-special-shadow"></div>

  <div class="container">

  <div class="navbar-brand">
    <a class="navbar-item" href="https://wikiki.github.io">
      <strong>Bulma-Extensions</strong>
    </a>

    <a class="navbar-item is-hidden-desktop" href="https://github.com/wikiki/bulma-extensions" target="_blank">
      <span class="icon" style="color: #333;">
        <i class="fa fa-lg fa-github"></i>
      </span>
    </a>

    <div id="navbarBurger" class="navbar-burger burger" data-target="navMenuDocumentation">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navMenuDocumentation" class="navbar-menu">
    <div class="navbar-start">
    </div>

    <div class="navbar-end">
      <a class="navbar-item is-hidden-desktop-only" href="https://github.com/wikiki/bulma-extensions" target="_blank">
        <span class="icon" style="color: #333;">
          <i class="fa fa-lg fa-github"></i>
        </span>
      </a>

      <div class="navbar-item">
        <a class="is-hidden-desktop-only tags has-addons is-small" href="https://www.npmjs.com/package/bulma-extensions" target="_blank">
          <span class="tag">npm</span>
          <span class="tag is-dark">6.2.4</span>
        </a>
      </div>

      <div class="navbar-item">
        <a href='https://ko-fi.com/wikiki' target='_blank'><img height='36' style='border:0px;height:36px;' src='https://az743702.vo.msecnd.net/cdn/kofi1.png?v=0' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a>
      </div>
    </div>
  </div>

  </div>
</nav>


<nav class="navbar has-shadow">
  <div class="container">
    <div class="navbar-tabs">
      <a class="navbar-item is-tab " href="https://wikiki.github.io/components/accordion/">
        Accordion
      </a>
      <a class="navbar-item is-tab is-active" href="https://wikiki.github.io/components/calendar/">
        Calendar
      </a>
      <a class="navbar-item is-tab " href="https://wikiki.github.io/components/carousel/">
        Carousel
      </a>
      <a class="navbar-item is-tab " href="https://wikiki.github.io/components/pricingtable/">
        Pricing table
      </a>
      <a class="navbar-item is-tab " href="https://wikiki.github.io/components/quickview/">
        Quickview
      </a>
      <a class="navbar-item is-tab " href="https://wikiki.github.io/components/steps/">
        Steps
      </a>
      <a class="navbar-item is-tab " href="https://wikiki.github.io/components/timeline/">
        Timeline
      </a>
    </div>
  </div>
</nav>


<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title">Calendar</h1>
        <h2 class="subtitle">
          Display a <strong>calendar</strong> with different colors and sizes
        </h2>
      </div>
      <div class="column is-narrow">
        <div class="field is-grouped is-grouped-multiline">
          <div class="control">
            <a class="tags has-addons" href="https://github.com/Wikiki/bulma-calendar" target="_blank">
              <span class="tag">View on Github</span>
              <span class="tag is-dark">
                <span class="icon">
                  <i class="fa fa-github"></i>
                </span>
              </span>
            </a>
          </div>
          <div class="control">
            <a class="tags has-addons" href="https://www.npmjs.com/package/bulma-calendar" target="_blank">
              <span class="tag">NPM Package</span>
              <span class="tag is-success">6.0.7</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <article class="message is-warning">
      <div class="message-body">
        Full documentation and demos of this component are now available on <a href="https://creativebulma.net/product/calendar/demo"
          target="_blank">CreativeBulma</a>.
      </div>
    </article>
  </div>
</section>


    <footer class="footer">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half has-text-centered">
        <p id="tsp">
          <a href="https://bulma.io" target="_blank">
            <img src="https://wikiki.github.io/images/made-with-bulma.png" alt="Made with Bulma" width="128" height="24">
          </a>
          <small>
            Source code licensed <a href="https://opensource.org/licenses/mit-license.php">MIT</a>.
          </small>
        </p>
        <br />
        <a href='https://ko-fi.com/wikiki' target='_blank'><img height='36' style='border:0px;height:36px;' src='https://az743702.vo.msecnd.net/cdn/kofi1.png?v=0' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a>
      </div>
    </div>
  </div>
</footer>

<script src="https://wikiki.github.io/vendor/clipboard-1.7.1.min.js"></script>
<script src="https://wikiki.github.io/js/main.js?v=201910231839"></script>

<script async defer type="text/javascript">
  (function() {
    window.fnames = new Array();
    window.ftypes = new Array();
    fnames[0]='EMAIL';
    ftypes[0]='email';
  }());
  // var $mcj = window.jQuery.noConflict(true);
</script>

  </body>
</html>
