---
title: Checkradio
layout: default
doc-tab: bulma-extensions
doc-subtab: checkradio
npm-version: 0.0.7
variables:
- name: $checkbox-radius
  value: $radius
- name: $checkbox-border
  value: .1rem solid $grey-light
- name: $checkradio-focus
  value: 1px dotted $grey-light
---

{% capture checkradio_example %}
<div class="field">
  <input class="is-checkbox" id="exampleCheckbox" type="checkbox" name="exampleCheckbox" checked="checked">
  <label for="exampleCheckbox">Check me</label>
</div>
<div class="field">
  <input class="is-radio" id="exampleRadioInline1" type="radio" name="exampleRadioInline" checked="checked">
  <label for="exampleRadioInline1">Option 1</label>
  <input class="is-radio" id="exampleRadioInline2" type="radio" name="exampleRadioInline">
  <label for="exampleRadioInline2">Option 2</label>
</div>
{% endcapture %}

{% capture checkradio_rtl_example %}
<div class="field">
  <input class="is-checkbox is-rtl" id="exampleRtlCheckbox" type="checkbox" name="exampleRtlCheckbox" checked="checked">
  <label for="exampleRtlCheckbox">Check me</label>
</div>
<div class="field">
  <input class="is-radio is-rtl" id="exampleRtlRadioInline1" type="radio" name="exampleRtlRadioInline" checked="checked">
  <label for="exampleRtlRadioInline1">Option 1</label>
  <input class="is-radio is-rtl" id="exampleRtlRadioInline2" type="radio" name="exampleRtlRadioInline">
  <label for="exampleRtlRadioInline2">Option 2</label>
</div>
{% endcapture %}

{% capture radio_example %}
<div class="field">
  <input class="is-radio" id="exampleRadio0" type="radio" name="exampleRadio" disabled>
  <label for="exampleRadio0">Radio choice - disabled</label>
</div>

<div class="field">
  <input class="is-radio" id="exampleRadio" type="radio" name="exampleRadio" checked="checked">
  <label for="exampleRadio">Radio choice</label>
</div>

<div class="field">
  <input class="is-radio is-small is-success" id="exampleRadio2" type="radio" name="exampleRadio">
  <label for="exampleRadio2">Radio choice - small</label>
</div>

<div class="field">
  <input class="is-radio is-medium is-danger" id="exampleRadio3" type="radio" name="exampleRadio">
  <label for="exampleRadio3">Radio choice - medium</label>
</div>

<div class="field">
  <input class="is-radio is-large is-warning" id="exampleRadio4" type="radio" name="exampleRadio">
  <label for="exampleRadio4">Radio choice - large</label>
</div>


<div class="bd-notification is-dark">
  <div class="field">
    <input class="is-radio is-white" id="exampleRadioWhite" type="radio" name="exampleRadioWhite" checked="checked">
    <label for="exampleRadioWhite">Radio - white</label>

    <input class="is-radio is-white" id="exampleRadioWhite2" type="radio" name="exampleRadioWhite">
    <label for="exampleRadioWhite2">Radio - white</label>
  </div>
</div>
{% endcapture %}

{% capture checkradio_disabled_example %}
<div class="field">
  <input class="is-checkbox" id="exampleCheckboxDisabled" type="checkbox" name="exampleCheckboxDisabled" checked="checked" disabled>
  <label for="exampleCheckboxDisabled">Checkbox - disabled</label>
</div>
{% endcapture %}

{% capture checkradio_colors_example %}
<div class="field">
  <input class="is-checkbox" id="exampleCheckboxDefault" type="checkbox" name="exampleCheckboxDefault" checked="checked">
  <label for="exampleCheckboxDefault">Checkbox</label>
</div>

<div class="field">
  <input class="is-checkbox is-success" id="exampleCheckboxSuccess" type="checkbox" name="exampleCheckboxSuccess" checked="checked">
  <label for="exampleCheckboxSuccess">Checkbox - success</label>
</div>

<div class="field">
  <input class="is-checkbox is-warning" id="exampleCheckboxWarning" type="checkbox" name="exampleCheckboxWarning" checked="checked">
  <label for="exampleCheckboxWarning">Checkbox - warning</label>
</div>

<div class="field">
  <input class="is-checkbox is-danger" id="exampleCheckboxDanger" type="checkbox" name="exampleCheckboxDanger" checked="checked">
  <label for="exampleCheckboxDanger">Checkbox - danger</label>
</div>

<div class="field">
  <input class="is-checkbox is-info" id="exampleCheckboxInfo" type="checkbox" name="exampleCheckboxInfo" checked="checked">
  <label for="exampleCheckboxInfo">Checkbox - info</label>
</div>

<div class="bd-notification is-dark">
  <div class="field">
    <input class="is-checkbox is-white" id="exampleCheckboxWhite" type="checkbox" name="exampleCheckboxWhite" checked="checked">
    <label for="exampleCheckboxWhite">Checkbox - white</label>

    <input class="is-checkbox is-white" id="exampleCheckboxWhite2" type="checkbox" name="exampleCheckboxWhite2">
    <label for="exampleCheckboxWhite2">Checkbox - white</label>
  </div>
</div>
{% endcapture %}

{% capture checkradio_noborder_example %}
<div class="field">
  <input class="is-checkbox has-no-border" id="exampleCheckboxNoBorderDefault" type="checkbox" name="exampleCheckboxNoBorderDefault" checked="checked">
  <label for="exampleCheckboxNoBorderDefault">Checkbox</label>
</div>

<div class="field">
  <input class="is-checkbox has-no-border is-success" id="exampleCheckboxNoBorderSuccess" type="checkbox" name="exampleCheckboxNoBorderSuccess" checked="checked">
  <label for="exampleCheckboxNoBorderSuccess">Checkbox - success</label>
</div>

<div class="field">
  <input class="is-checkbox has-no-border is-warning" id="exampleCheckboxNoBorderWarning" type="checkbox" name="exampleCheckboxNoBorderWarning" checked="checked">
  <label for="exampleCheckboxNoBorderWarning">Checkbox - warning</label>
</div>

<div class="field">
  <input class="is-checkbox has-no-border is-danger" id="exampleCheckboxNoBorderDanger" type="checkbox" name="exampleCheckboxNoBorderDanger" checked="checked">
  <label for="exampleCheckboxNoBorderDanger">Checkbox - danger</label>
</div>

<div class="field">
  <input class="is-checkbox has-no-border is-info" id="exampleCheckboxNoBorderInfo" type="checkbox" name="exampleCheckboxNoBorderInfo" checked="checked">
  <label for="exampleCheckboxNoBorderInfo">Checkbox - info</label>
</div>

<div class="bd-notification is-dark">
  <div class="field">
    <input class="is-checkbox has-no-border is-white" id="exampleCheckboxNoBorderWhite" type="checkbox" name="exampleCheckboxNoBorderWhite" checked="checked">
    <label for="exampleCheckboxNoBorderWhite">Checkbox - white</label>

    <input class="is-checkbox has-no-border is-white" id="exampleCheckboxNoBorderWhite2" type="checkbox" name="exampleCheckboxNoBorderWhite2">
    <label for="exampleCheckboxNoBorderWhite2">Checkbox - white</label>
  </div>
</div>
{% endcapture %}

{% capture checkradio_backgroundColor_example %}
<div class="field">
  <input class="is-checkbox has-background-color" id="exampleCheckboxBackgroundColorDefault" type="checkbox" name="exampleCheckboxBackgroundColorDefault" checked="checked">
  <label for="exampleCheckboxBackgroundColorDefault">Checkbox</label>
</div>

<div class="field">
  <input class="is-checkbox has-background-color is-success" id="exampleCheckboxBackgroundColorSuccess" type="checkbox" name="exampleCheckboxBackgroundColorSuccess" checked="checked">
  <label for="exampleCheckboxBackgroundColorSuccess">Checkbox - success</label>
</div>

<div class="field">
  <input class="is-checkbox has-background-color is-warning" id="exampleCheckboxBackgroundColorWarning" type="checkbox" name="exampleCheckboxBackgroundColorWarning" checked="checked">
  <label for="exampleCheckboxBackgroundColorWarning">Checkbox - warning</label>
</div>

<div class="field">
  <input class="is-checkbox has-background-color is-danger" id="exampleCheckboxBackgroundColorDanger" type="checkbox" name="exampleCheckboxBackgroundColorDanger" checked="checked">
  <label for="exampleCheckboxBackgroundColorDanger">Checkbox - danger</label>
</div>

<div class="field">
  <input class="is-checkbox has-background-color is-info" id="exampleCheckboxBackgroundColorInfo" type="checkbox" name="exampleCheckboxBackgroundColorInfo" checked="checked">
  <label for="exampleCheckboxBackgroundColorInfo">Checkbox - info</label>
</div>

<div class="bd-notification is-dark">
  <div class="field">
    <input class="is-checkbox has-background-color is-white" id="exampleCheckboxBackgroundColorWhite" type="checkbox" name="exampleCheckboxBackgroundColorWhite" checked="checked">
    <label for="exampleCheckboxBackgroundColorWhite">Checkbox - white</label>

    <input class="is-checkbox has-background-color is-white" id="exampleCheckboxBackgroundColorWhite2" type="checkbox" name="exampleCheckboxBackgroundColorWhite2">
    <label for="exampleCheckboxBackgroundColorWhite2">Checkbox - white</label>
  </div>
</div>
{% endcapture %}

{% capture checkradio_sizes_example %}
<div class="field">
  <input class="is-checkbox is-small" id="exampleCheckboxSmall" type="checkbox" name="exampleCheckboxSmall" checked="checked">
  <label for="exampleCheckboxSmall">Checkbox - small</label>
</div>

<div class="field">
  <input class="is-checkbox" id="exampleCheckboxNormal" type="checkbox" name="exampleCheckboxNormal" checked="checked">
  <label for="exampleCheckboxNormal">Checkbox</label>
</div>

<div class="field">
  <input class="is-checkbox is-medium" id="exampleCheckboxMedium" type="checkbox" name="exampleCheckboxMedium" checked="checked">
  <label for="exampleCheckboxMedium">Checkbox - medium</label>
</div>

<div class="field">
  <input class="is-checkbox is-large" id="exampleCheckboxLarge" type="checkbox" name="exampleCheckboxLarge" checked="checked">
  <label for="exampleCheckboxLarge">Checkbox - large</label>
</div>
{% endcapture %}

{% capture checkradio_colors_circle_example %}
<div class="field">
  <input class="is-checkbox is-circle" id="exampleCheckboxDefaultDisabledCircle" type="checkbox" name="exampleCheckboxDefaultDisabledCircle" checked="checked" disabled="disabled">
  <label for="exampleCheckboxDefaultDisabledCircle">Checkbox</label>
</div>

<div class="field">
  <input class="is-checkbox is-circle" id="exampleCheckboxDefaultCircle" type="checkbox" name="exampleCheckboxDefaultCircle" checked="checked">
  <label for="exampleCheckboxDefaultCircle">Checkbox</label>
</div>

<div class="field">
  <input class="is-checkbox is-success is-circle" id="exampleCheckboxSuccessCircle" type="checkbox" name="exampleCheckboxSuccessCircle" checked="checked">
  <label for="exampleCheckboxSuccessCircle">Checkbox - success</label>
</div>

<div class="field">
  <input class="is-checkbox is-warning is-circle" id="exampleCheckboxWarningCircle" type="checkbox" name="exampleCheckboxWarningCircle" checked="checked">
  <label for="exampleCheckboxWarningCircle">Checkbox - warning</label>
</div>

<div class="field">
  <input class="is-checkbox is-danger is-circle" id="exampleCheckboxDangerCircle" type="checkbox" name="exampleCheckboxDangerCircle" checked="checked">
  <label for="exampleCheckboxDangerCircle">Checkbox - danger</label>
</div>

<div class="field">
  <input class="is-checkbox is-info is-circle" id="exampleCheckboxInfoCircle" type="checkbox" name="exampleCheckboxInfoCircle" checked="checked">
  <label for="exampleCheckboxInfoCircle">Checkbox - info</label>
</div>
{% endcapture %}

{% include_relative subnav-bulma-extensions.html %}

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title">Checkradio</h1>
        <h2 class="subtitle">
          Make classic <strong>checkbox</strong> and <strong>radio</strong> more sexy in different colors, sizes, and states
        </h2>
      </div>
      <div class="column is-narrow">
        <div class="field is-grouped is-grouped-multiline">
          <div class="control">
            <a class="tags has-addons" href="https://github.com/Wikiki/bulma-checkradio" target="_blank">
              <span class="tag">View on Github</span>
              <span class="tag is-dark">
                <span class="icon">
                  <i class="fa fa-github"></i>
                </span>
              </span>
            </a>
          </div>
          <div class="control">
            <a class="tags has-addons" href="https://www.npmjs.com/package/bulma-checkradio" target="_blank">
              <span class="tag">NPM Package</span>
              <span class="tag is-success">{{ page.npm-version }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    {%
      include meta.html
      colors=true
      sizes=true
      variables=true
    %}

    <hr>

    <div class="columns">
      <div class="column">
        {{checkradio_example}}
      </div>
      <div class="column">
        {% highlight html %}{{checkradio_example}}{% endhighlight %}
      </div>
    </div>

    <hr>
    <p>Use <code>is-rtl</code> to display a right-to-left design of ccheckbox or radio (text at left)</p>
    <br />
    <div class="columns">
      <div class="column">
        {{checkradio_rtl_example}}
      </div>
      <div class="column">
        {% highlight html %}{{checkradio_rtl_example}}{% endhighlight %}
      </div>
    </div>

    <div class="has-text-centered has-text-danegr">
      <p>Don't forget to set <code>id</code> attribute on input and <code>for</code> attribute on label with the same value to get it work. This will link the label to the checkbox and then handle the click.</p>
    </div>
    <br />

    <div class="notification is-warning has-text-centered">
      <p>Please note that due to <strong>CSS limitation</strong> the structure of the checkbox is different of the one provided as exxample in Bulma's documentation.<br /><i>(Input is not wrapped by the label)</i></p>
    </div>

    {% include anchor.html name="Colors" %}
    <div class="columns">
      <div class="column">
        {{checkradio_colors_example}}
      </div>
      <div class="column">
        {% highlight html %}{{checkradio_colors_example}}{% endhighlight %}
      </div>
    </div>

    {% include anchor.html name="Sizes" %}

    <div class="columns">
      <div class="column">
        {{checkradio_sizes_example}}
      </div>
      <div class="column">
        {% highlight html %}{{checkradio_sizes_example}}{% endhighlight %}
      </div>
    </div>

    <hr>

    <h3 class="title">Styles</h3>
    <h4 class="subtitle">Circle</h4>
    <p>You can add <code>is-circle</code> modifier to the input to get a rounded checkbox</p>
    <br />
    <div class="columns">
      <div class="column">
        {{checkradio_colors_circle_example}}
      </div>
      <div class="column">
        {% highlight html %}{{checkradio_colors_circle_example}}{% endhighlight %}
      </div>
    </div>

    <h4 class="subtitle">No border</h4>
    <p>Adding <code>has-no-border</code> modifier to the input will remove the checkbox border</p>
    <br />
    <div class="columns">
      <div class="column">
        {{checkradio_noborder_example}}
      </div>
      <div class="column">
        {% highlight html %}{{checkradio_noborder_example}}{% endhighlight %}
      </div>
    </div>

    <h4 class="subtitle">Background colored</h4>
    <p>You can add <code>has-background-color</code> modifier to the input to get the checkbox background color impacted</p>
    <br />
    <div class="columns">
      <div class="column">
        {{checkradio_backgroundColor_example}}
      </div>
      <div class="column">
        {% highlight html %}{{checkradio_backgroundColor_example}}{% endhighlight %}
      </div>
    </div>

    <hr>

    <h3 class="title">States</h3>
    <h4 class="subtitle">Disabled</h4>
    <div class="columns">
      <div class="column">
        {{checkradio_disabled_example}}
      </div>
      <div class="column">
        {% highlight html %}{{checkradio_disabled_example}}{% endhighlight %}
      </div>
    </div>

    <hr>

    <h3 class="title">Radio</h3>
    <div class="columns">
      <div class="column">
        {{radio_example}}
      </div>
      <div class="column">
        {% highlight html %}{{radio_example}}{% endhighlight %}
      </div>
    </div>

    {% include variables.html %}
  </div>
</section>
