---
title: Overview
layout: default
doc-tab: bulma-extensions
doc-subtab: overview
npm-version: 0.0.4
---

{% include_relative subnav-bulma-extensions.html %}

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title">Bulma-extensions</h1>
        <h2 class="subtitle">Set of missing <a href="http://bulma.io" target="_blank">Bulma.io</a> functionalities in form of extensions.</h2>
      </div>
      <div class="column is-narrow">
        <div class="field is-grouped is-grouped-multiline">
          <div class="control">
            <a class="tags has-addons" href="https://github.com/Wikiki/bulma-extensions" target="_blank">
              <span class="tag">View on Github</span>
              <span class="tag is-dark">
                <span class="icon">
                  <i class="fa fa-github"></i>
                </span>
              </span>
            </a>
          </div>
          <div class="control">
            <a class="tags has-addons" href="https://www.npmjs.com/package/bulma-extensions" target="_blank">
              <span class="tag">NPM Package</span>
              <span class="tag is-success">{{ page.npm-version }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    {% include anchor.html name="Getting started" %}
    <hr>

    <div class="content">
      <p>
        There are several ways to <strong>get started</strong> with Bulma-extensions. You can either:
      </p>
      <ol>
        <li>
          use <strong>npm</strong> to install the <u>global Bulma-extensions</u> package (it includes all the extensions)
        </li>
        <li>
          use <strong>npm</strong> to install <u>Bulma-extension individually</u>
        </li>
        <li>
          use the <strong>GitHub repository</strong> to get the latest development version
        </li>
      </ol>
    </div>

    <div class="notification is-info">You can find npm package informations related to a specific extension by clicking on the <strong>npm</strong> tag in the top right of each documentation page.</div>

    <article class="media is-large">
      <div class="media-left">
        <p class="title is-5">1</p>
      </div>
      <div class="media-content">
        <p class="title is-5">
          Use <strong>NPM</strong> to install all extensions:
        </p>
        <p>This package gather all extensions in one package.</p>
        {% highlight bash %}npm install bulma-extensions{% endhighlight %}
      </div>
    </article>

    <article class="media is-large">
      <div class="media-left">
        <p class="title is-5">2</p>
      </div>
      <div class="media-content">
        <p class="title is-5">
          Use <strong>NPM</strong> to install extension individually:
        </p>
        <p>Using this method you can install only wanted extensions.</p>
        <div class="has-text-info"><strong class="has-text-info">This is an example</strong> to integrate the <strong class="has-text-info">checkradio</strong> extension.</div>
        {% highlight bash %}npm install bulma-checkradio{% endhighlight %}
      </div>
    </article>

    <article class="media is-large">
      <div class="media-left">
        <p class="title is-5">3</p>
      </div>
      <div class="media-content">
        <p class="title is-5">
          Use <strong>GitHub repository</strong>:
        </p>
        {% highlight bash %}npm install bulma{% endhighlight %}
      </div>
    </article>

    {% include anchor.html name="Integration" %}
    <hr>

    <div class="content">
      <p>Once installed the integration process depends on the way you installed the package and your project configuration.<br />
      You will find below some example based on most commons projects configurations</p>

      <div class="notification is-info">Whatever the way you installed the extension you'll have to clone Bulma package in order to be able to use them.</div>
    </div>

    <article class="media is-large">
      <div class="media-left">
        <p class="title is-5">1</p>
      </div>
      <div class="media-content">
        <p class="title is-5">
          NPM:
        </p>
        <div class="has-text-info"><strong class="has-text-info">This is an example</strong> to integrate the <strong class="has-text-info">checkradio</strong> extension.</div>
        <p>Open you application's main sass file and add the following line:</p>
        {% highlight bash %}@import 'bulma'
        @import 'checkradio'{% endhighlight %}
        <p>Now, you can just build the bulma project with <code>npm run build</code>, and the output will be available in the <code>css folder</code>.</p>
      </div>
    </article>

    <article class="media is-large">
      <div class="media-left">
        <p class="title is-5">2</p>
      </div>
      <div class="media-content">
        <p class="title is-5">
          Ruby <em>(assuming you do not have the sass gem and you have ssh configured for GitHub)</em>:
        </p>
        {% highlight bash %}gem install sass
git clone https://github.com/jgthms/bulma.git
sass bulma-pricingtable.sass
{% endhighlight %}
      </div>
    </article>

    <article class="media is-large">
      <div class="media-left">
        <p class="title is-5">2</p>
      </div>
      <div class="media-content">
        <p class="title is-5">
          GitHub repository:
        </p>
        <div class="content">
          <ul>
            <li>Clone the <a href="https://github.com/jgthms/bulma" target="_blank">bulma repo</a> following <a href="https://bulma.io/documentation/overview/start/" target="_blank">Bulma's documentation</a></li>
            <li>Under the <code>sass</code> folder, create a new folder called <code>extensions</code></li>
            <li>In this new folder, create a new file <code>checkradio.sass</code></li>
            <li>Copy the code from the <code>bulma-checkradio</code>'s repository <a href="https://github.com/Wikiki/bulma-checkradio/blob/master/checkradio.sass" target="_blank">checkradio.sass</a> file into your new file</li>
            <li>In the same folder create a new file <code>_all.sass</code> (this is not required, but will help when you add more extensions)</li>
            <li>In this file add this code:
    {% highlight sass %}
    @charset "utf-8"
    @import "checkradio.sass"
    {% endhighlight %}</li>
          </ul>
        </div>
        <p>Open your main application's sass file and add the following line:</p>
        {% highlight bash %}@import @import "sass/extensions/_all"{% endhighlight %}
      </div>
    </article>

    {% include anchor.html name="Need an extension ?" %}
    <div class="content">
      <p>You are looking for a specific extension but you did not find it yet ?</p>
      <p>Don't hesitate to send me a request by <a href="https://github.com/Wikiki/bulma-extensions/issues" target="_blank">opening and issue</a> on my GitHub repository.</p>
    </div>

  </div>
</section>
