---
title: Overview
layout: default
doc-tab: bulma-extensions
doc-subtab: overview
---

{% include_relative subnav-bulma-extensions.html %}

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h2 class="subtitle">This section gather all my <a href="http://bulma.io" target="_blank">Bulma.io</a> extensions.</h2>
      </div>
      <div class="column is-narrow">
        <div class="field is-grouped is-grouped-multiline">
          <div class="control">
            <a class="tags has-addons" href="https://github.com/Wikiki/bulma-extensions" target="_blank">
              <span class="tag">View on Github</span>
              <span class="tag is-dark">
                <span class="icon">
                  <i class="fa fa-github"></i>
                </span>
              </span>
            </a>
          </div>
          <div class="control">
            <a class="tags has-addons" href="https://www.npmjs.com/package/bulma-extensions" target="_blank">
              <span class="tag">NPM Package</span>
              <span class="tag is-success">0.0.1</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    {% include anchor.html name="Integration" %}
    <div class="content">
      <p>This is an example with the Switch extension.</p>
      <ul>
        <li>Clone the <a href="https://github.com/jgthms/bulma" target="_blank">bulma repo</a></li>
        <li>Under the <code>sass</code> folder, create a new folder called <code>extensions</code></li>
        <li>In this new folder, create a new file <code>switch.sass</code></li>
        <li>Copy the code form the <code>bulma-switch repo</code>'s <a href="https://github.com/Wikiki/bulma-switch/blob/master/switch.sass" target="_blank">switch.sass</a> file into your new file</li>
        <li>In the same folder create a new file <code>_all.sass</code> (this is not required, but will help when you add more extensions)</li>
        <li>In this file add this code:
{% highlight sass %}
@charset "utf-8"
@import "switch.sass"
{% endhighlight %}</li>
      </ul>
      <p>At the end of the <code>bulma.sass</code> file, add this line: <code>@import "sass/extensions/_all"</code></p>

      <p>Now, you can just build the bulma project with <code>npm run build</code>, and the output will be available in the <code>css folder</code>.</p>
    </div>

    {% include anchor.html name="Need an extension ?" %}
    <div class="content">
      <p>You are looking for a specific extension but you did not find it yet ?</p>
      <p>Don't hesitate to send me a request by <a href="https://github.com/Wikiki/bulma-extensions/issues" target="_blank">opening and issue</a> on my GitHub repository.</p>
    </div>

  </div>
</section>
