---
title: Pricing table
layout: default
doc-tab: bulma-extensions
doc-subtab: pricingtable
variables:
- name: $pricing-plan-border
  value: .1rem solid $white-ter
- name: $pricing-plan-border-radius
  value: $radius
- name: $pricing-header-background
  value: $white
- name: $pricing-item-background
  value: $white-ter
- name: $pricing-item-border
  value: .1rem solid white
- name: $pricing-item-color
  value: $grey
- name: $pricing-price-background
  value: $white
---

{% capture pricingtable_example %}
<div class="pricing-table is-hoverable">
  <ul class="pricing-plan">
    <li class="plan-header">Starter</li>
    <li class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>20</span>/month</li>
    <li class="plan-item">20GB Storage</li>
    <li class="plan-item">100 Domains</li>
    <li class="plan-item">1TB Bandwidth</li>
    <li class="plan-item">-</li>
    <li class="plan-action">
      <button class="button is-fullwidth" disabled="disabled">Current plan</button>
    </li>
  </ul>

  <ul class="pricing-plan is-warning">
    <li class="plan-header">Startups</li>
    <li class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>40</span>/month</li>
    <li class="plan-item">20GB Storage</li>
    <li class="plan-item">100 Domains</li>
    <li class="plan-item">1TB Bandwidth</li>
    <li class="plan-item">-</li>
    <li class="plan-action">
      <button class="button is-fullwidth">Choose</button>
    </li>
  </ul>

  <ul class="pricing-plan is-active">
    <li class="plan-header">Growing Team</li>
    <li class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>60</span>/month</li>
    <li class="plan-item">20GB Storage</li>
    <li class="plan-item">100 Domains</li>
    <li class="plan-item">1TB Bandwidth</li>
    <li class="plan-item">1000 Email Boxes</li>
    <li class="plan-action">
      <button class="button is-fullwidth">Choose</button>
    </li>
  </ul>

  <ul class="pricing-plan is-danger">
    <li class="plan-header">Enterprise</li>
    <li class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>100</span>/month</li>
    <li class="plan-item">20GB Storage</li>
    <li class="plan-item">100 Domains</li>
    <li class="plan-item">1TB Bandwidth</li>
    <li class="plan-item">1000 Email Boxes</li>
    <li class="plan-action">
      <button class="button is-fullwidth">Choose</button>
    </li>
  </ul>
</div>
{% endcapture %}

{% include_relative subnav-bulma-extensions.html %}

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title">Pricing table</h1>
        <h2 class="subtitle">
          Display a <strong>pricing table</strong> easily.
        </h2>
      </div>
      <div class="column is-narrow">
        <a class="button is-small is-outlined" href="https://github.com/Wikiki/bulma-pricingtable" target="_blank">
          <span class="icon">
              <i class="fa fa-github"></i>
          </span>
          <span>View on Github</span>
        </a>
      </div>
    </div>
    {%
      include meta.html
      colors=true
      variables=true
    %}

    <hr>

    <div class="bd-example">
      {{pricingtable_example}}
    </div>
    {% highlight html %}{{pricingtable_example}}{% endhighlight %}

    {% include variables.html %}
  </div>
</section>
