---
title: Steps
layout: default
doc-tab: bulma-extensions
doc-subtab: steps
variables:
- name: $steps-maker-default-color
  value: $grey-light
- name: $steps-marker-default-border
  value: .2em solid #fff
- name: $steps-default-color
  value: $grey-lighter
- name: $steps-completed-color
  value: $primary
- name: $steps-active-color
  value: $primary
- name: $steps-divider-height
  value: .2em
---

{% capture steps_example %}
<ul class="steps">
  <li class="step-item is-completed is-success">
    <div class="step-marker">
      <span class="icon">
        <i class="fa fa-check"></i>
      </span>
    </div>
    <div class="step-content">
      <p class="step-title">Step 1</p>
      <p>This is the first step of the process.</p>
    </div>
  </li>
  <li class="step-item is-active">
    <div class="step-marker"></div>
    <div class="step-content">
      <p class="step-title">Step 2</p>
      <p>This is the second step. You get here once you have completed the first step.</p>
    </div>
  </li>
  <li class="step-item">
    <div class="step-marker">3</div>
    <div class="step-content">
      <p class="step-title">Step 3</p>
      <p>This is the third step. One more last before the end.</p>
    </div>
  </li>
  <li class="step-item">
    <div class="step-marker">
      <span class="icon">
        <i class="fa fa-flag"></i>
      </span>
    </div>
    <div class="step-content">
      <p class="step-title">Step 4</p>
      <p>Final step. You have completed all the previous steps and end the process.</p>
    </div>
  </li>
</ul>
{% endcapture %}

{% capture steps_sizes_example %}
<ul class="steps is-small">
  <li class="step-item is-completed">
    <div class="step-marker">
      <span class="icon">
        <i class="fa fa-check"></i>
      </span>
    </div>
  </li>
  <li class="step-item is-active">
    <div class="step-marker"></div>
  </li>
  <li class="step-item">
    <div class="step-marker">3</div>
  </li>
  <li class="step-item">
    <div class="step-marker">
      <span class="icon">
        <i class="fa fa-flag"></i>
      </span>
    </div>
  </li>
</ul>

<ul class="steps">
  <li class="step-item is-completed">
    <div class="step-marker">
      <span class="icon">
        <i class="fa fa-check"></i>
      </span>
    </div>
  </li>
  <li class="step-item is-active">
    <div class="step-marker"></div>
  </li>
  <li class="step-item">
    <div class="step-marker">3</div>
  </li>
  <li class="step-item">
    <div class="step-marker">
      <span class="icon">
        <i class="fa fa-flag"></i>
      </span>
    </div>
  </li>
</ul>

<ul class="steps is-medium">
  <li class="step-item is-completed">
    <div class="step-marker"></div>
  </li>
  <li class="step-item is-active">
    <div class="step-marker"></div>
  </li>
  <li class="step-item">
    <div class="step-marker">3</div>
  </li>
  <li class="step-item">
    <div class="step-marker">
      <span class="icon">
        <i class="fa fa-flag"></i>
      </span>
    </div>
  </li>
</ul>

<ul class="steps is-large">
  <li class="step-item is-completed">
    <div class="step-marker"></div>
  </li>
  <li class="step-item is-active">
    <div class="step-marker"></div>
  </li>
  <li class="step-item">
    <div class="step-marker">3</div>
  </li>
  <li class="step-item">
    <div class="step-marker">
      <span class="icon">
        <i class="fa fa-flag"></i>
      </span>
    </div>
  </li>
</ul>
{% endcapture %}

{% capture steps_colors_example %}
<ul class="steps">
  <li class="step-item is-completed is-success">
    <div class="step-marker">
      <span class="icon">
        <i class="fa fa-check"></i>
      </span>
    </div>
    <div class="step-content is-primary is-completed">
      <p class="step-title">Step 1</p>
      <p>This is the first step of the process.</p>
    </div>
  </li>
  <li class="step-item is-info is-completed">
    <div class="step-marker"></div>
    <div class="step-content">
      <p class="step-title">Step 2</p>
      <p>This is the second step. You get here once you have completed the first step.</p>
    </div>
  </li>
  <li class="step-item is-warning is-completed">
    <div class="step-marker">3</div>
    <div class="step-content">
      <p class="step-title">Step 3</p>
      <p>This is the third step. One more last before the end.</p>
    </div>
  </li>
  <li class="step-item is-danger is-active">
    <div class="step-marker">
      <span class="icon">
        <i class="fa fa-flag"></i>
      </span>
    </div>
    <div class="step-content">
      <p class="step-title">Step 4</p>
      <p>Final step. You have completed all the previous steps and end the process.</p>
    </div>
  </li>
</ul>
{% endcapture %}

{% include_relative subnav-bulma-extensions.html %}

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title">Steps</h1>
        <h2 class="subtitle">
          Display <strong>steps</strong> for a process (like sign-up, or order, form), in different colors, sizes, and states
        </h2>
      </div>
      <div class="column is-narrow">
        <a class="button is-small is-outlined" href="https://github.com/Wikiki/bulma-steps" target="_blank">
          <span class="icon">
              <i class="fa fa-github"></i>
          </span>
          <span>View on Github</span>
        </a>
      </div>
    </div>
    {%
      include meta.html
      colors=true
      sizes=true
      variables=true
    %}

    <hr>

    <div class="bd-example">
      {{steps_example}}
    </div>
    {% highlight html %}{{steps_example}}{% endhighlight %}

    {% include anchor.html name="Colors" %}

    <div class="bd-example">
      {{steps_colors_example}}
    </div>
    {% highlight html %}{{steps_colors_example}}{% endhighlight %}

    {% include anchor.html name="Sizes" %}

    <div class="columns">
      <div class="column">
        {{steps_sizes_example}}
      </div>
      <div class="column">
        {% highlight html %}{{steps_sizes_example}}{% endhighlight %}
      </div>
    </div>

    {% include variables.html %}

    <p>Thanks to <a href="https://github.com/aramvisser/bulma-steps" tagret="_blank">aramvisser</a> for the <span class="tag">marker</span> idea and for the sizes mixin declaration (which is smart).</p>
  </div>
</section>
