---
title: Switch
layout: default
doc-tab: bulma-extensions
doc-subtab: switch
npm-version: 0.0.3
variables:
- name: $switch-background
  value: $grey-light
- name: $switch-background-active
  value: $primary
- name: $switch-radius
  value: $radius
- name: $switch-margin
  value: 1rem
- name: $switch-paddle-background
  value: $white
- name: $switch-paddle-offset
  value: 0.25rem
- name: $switch-paddle-transition
  value: all 0.25s ease-out
---

{% capture switch_example %}
<div class="field">
  <input id="switchExample" type="checkbox" name="switchExample" class="switch" checked="checked">
  <label for="switchExample">Switch example</label>
</div>
{% endcapture %}

{% capture switch_rtl_example %}
<div class="field">
  <input id="switchRtlExample" type="checkbox" name="switchRtlExample" class="switch is-rtl" checked="checked">
  <label for="switchRtlExample">Switch example</label>
</div>
{% endcapture %}

{% capture switch_colors_example %}
<div class="field">
  <input id="switchColorDefault" type="checkbox" name="switchColorDefault" class="switch" checked="checked">
  <label for="switchColorDefault">Switch default</label>
</div>

<div class="field">
  <input id="switchColorSuccess" type="checkbox" name="switchColorSuccess" class="switch is-success" checked="checked">
  <label for="switchColorSuccess">Switch success</label>
</div>

<div class="field">
  <input id="switchColorWarning" type="checkbox" name="switchColorWarning" class="switch is-warning" checked="checked">
  <label for="switchColorWarning">Switch warning</label>
</div>

<div class="field">
  <input id="switchColorDanger" type="checkbox" name="switchColorDanger" class="switch is-danger" checked="checked">
  <label for="switchColorDanger">Switch danger</label>
</div>

<div class="field">
  <input id="switchColorInfo" type="checkbox" name="switchColorInfo" class="switch is-info" checked="checked">
  <label for="switchColorInfo">Switch info</label>
</div>
{% endcapture %}

{% capture switch_thin_colors_example %}
<div class="field">
  <input id="switchThinColorDefault" type="checkbox" name="switchThinColorDefault" class="switch is-thin" checked="checked">
  <label for="switchThinColorDefault">Switch default</label>
</div>

<div class="field">
  <input id="switchThinColorSuccess" type="checkbox" name="switchThinColorSuccess" class="switch is-thin is-success" checked="checked">
  <label for="switchThinColorSuccess">Switch success</label>
</div>

<div class="field">
  <input id="switchThinColorWarning" type="checkbox" name="switchThinColorWarning" class="switch is-thin is-warning" checked="checked">
  <label for="switchThinColorWarning">Switch warning</label>
</div>

<div class="field">
  <input id="switchThinColorDanger" type="checkbox" name="switchThinColorDanger" class="switch is-thin is-danger" checked="checked">
  <label for="switchThinColorDanger">Switch danger</label>
</div>

<div class="field">
  <input id="switchThinColorInfo" type="checkbox" name="switchThinColorInfo" class="switch is-thin is-info" checked="checked">
  <label for="switchThinColorInfo">Switch info</label>
</div>
{% endcapture %}

{% capture switch_rounded_example %}
<div class="field">
  <input id="switchRoundedDefault" type="checkbox" name="switchRoundedDefault" class="switch is-rounded" checked="checked">
  <label for="switchRoundedDefault">Switch rounded default</label>
</div>

<div class="field">
  <input id="switchRoundedSuccess" type="checkbox" name="switchRoundedSuccess" class="switch is-rounded is-success" checked="checked">
  <label for="switchRoundedSuccess">Switch rounded success</label>
</div>

<div class="field">
  <input id="switchRoundedWarning" type="checkbox" name="switchRoundedWarning" class="switch is-rounded is-warning" checked="checked">
  <label for="switchRoundedWarning">Switch rounded warning</label>
</div>

<div class="field">
  <input id="switchRoundedDanger" type="checkbox" name="switchRoundedDanger" class="switch is-rounded is-danger" checked="checked">
  <label for="switchRoundedDanger">Switch rounded danger</label>
</div>

<div class="field">
  <input id="switchRoundedInfo" type="checkbox" name="switchRoundedInfo" class="switch is-rounded is-info" checked="checked">
  <label for="switchRoundedInfo">Switch rounded info</label>
</div>
{% endcapture %}

{% capture switch_outlined_example %}
<div class="field">
  <input id="switchOutlinedDefault" type="checkbox" name="switchOutlinedDefault" class="switch is-outlined" checked="checked">
  <label for="switchOutlinedDefault">Switch outlined default</label>
</div>

<div class="field">
  <input id="switchOutlinedSuccess" type="checkbox" name="switchOutlinedSuccess" class="switch is-outlined is-success" checked="checked">
  <label for="switchOutlinedSuccess">Switch outlined success</label>
</div>

<div class="field">
  <input id="switchOutlinedWarning" type="checkbox" name="switchOutlinedWarning" class="switch is-outlined is-warning" checked="checked">
  <label for="switchOutlinedWarning">Switch outlined warning</label>
</div>

<div class="field">
  <input id="switchOutlinedDanger" type="checkbox" name="switchOutlinedDanger" class="switch is-outlined is-danger" checked="checked">
  <label for="switchOutlinedDanger">Switch outlined danger</label>
</div>

<div class="field">
  <input id="switchOutlinedInfo" type="checkbox" name="switchOutlinedInfo" class="switch is-outlined is-info" checked="checked">
  <label for="switchOutlinedInfo">Switch outlined info</label>
</div>
{% endcapture %}

{% capture switch_rounded_outlined_example %}
<div class="field">
  <input id="switchRoundedOutlinedDefault" type="checkbox" name="switchRoundedOutlinedDefault" class="switch is-rounded is-outlined" checked="checked">
  <label for="switchRoundedOutlinedDefault">Switch rounded outlined default</label>
</div>

<div class="field">
  <input id="switchRoundedOutlinedSuccess" type="checkbox" name="switchRoundedOutlinedSuccess" class="switch is-rounded is-outlined is-success" checked="checked">
  <label for="switchRoundedOutlinedSuccess">Switch rounded outlined success</label>
</div>

<div class="field">
  <input id="switchRoundedOutlinedWarning" type="checkbox" name="switchRoundedOutlinedWarning" class="switch is-rounded is-outlined is-warning" checked="checked">
  <label for="switchRoundedOutlinedWarning">Switch rounded outlined warning</label>
</div>

<div class="field">
  <input id="switchRoundedOutlinedDanger" type="checkbox" name="switchRoundedOutlinedDanger" class="switch is-rounded is-outlined is-danger" checked="checked">
  <label for="switchRoundedOutlinedDanger">Switch rounded outlined danger</label>
</div>

<div class="field">
  <input id="switchRoundedOutlinedInfo" type="checkbox" name="switchRoundedOutlinedInfo" class="switch is-rounded is-outlined is-info" checked="checked">
  <label for="switchRoundedOutlinedInfo">Switch rounded outlined info</label>
</div>

<div class="field">
  <input id="switchThinRoundedOutlinedDefault" type="checkbox" name="switchThinRoundedOutlinedDefault" class="switch is-thin is-rounded is-outlined" checked="checked">
  <label for="switchThinRoundedOutlinedDefault">Switch Thin rounded outlined default</label>
</div>

<div class="field">
  <input id="switchThinRoundedOutlinedSuccess" type="checkbox" name="switchThinRoundedOutlinedSuccess" class="switch is-thin is-rounded is-outlined is-success" checked="checked">
  <label for="switchThinRoundedOutlinedSuccess">Switch Thin rounded outlined success</label>
</div>

<div class="field">
  <input id="switchThinRoundedOutlinedWarning" type="checkbox" name="switchThinRoundedOutlinedWarning" class="switch is-thin is-rounded is-outlined is-warning" checked="checked">
  <label for="switchThinRoundedOutlinedWarning">Switch Thin rounded outlined warning</label>
</div>

<div class="field">
  <input id="switchThinRoundedOutlinedDanger" type="checkbox" name="switchThinRoundedOutlinedDanger" class="switch is-thin is-rounded is-outlined is-danger" checked="checked">
  <label for="switchThinRoundedOutlinedDanger">Switch Thin rounded outlined danger</label>
</div>

<div class="field">
  <input id="switchThinRoundedOutlinedInfo" type="checkbox" name="switchThinRoundedOutlinedInfo" class="switch is-thin is-rounded is-outlined is-info" checked="checked">
  <label for="switchThinRoundedOutlinedInfo">Switch Thin rounded outlined info</label>
</div>
{% endcapture %}

{% capture switch_sizes_example %}
<div class="field">
  <input id="switchSmall" type="checkbox" name="switchSmall" class="switch is-small">
  <label for="switchSmall">Switch small</label>
</div>

<div class="field">
  <input id="switchNormal" type="checkbox" name="switchNormal" class="switch">
  <label for="switchNormal">Switch</label>
</div>

<div class="field">
  <input id="switchMedium" type="checkbox" name="switchMedium" class="switch is-medium">
  <label for="switchMedium">Switch medium</label>
</div>

<div class="field">
  <input id="switchLarge" type="checkbox" name="switchLarge" class="switch is-large">
  <label for="switchLarge">Switch large</label>
</div>
{% endcapture %}

{% capture switch_colors_disabled_example %}
<div class="field">
  <input id="switchColorDefault" type="checkbox" name="switchColorDefault" class="switch" checked="checked" disabled>
  <label for="switchColorDefault">Switch default</label>
</div>

<div class="field">
  <input id="switchColorSuccess" type="checkbox" name="switchColorSuccess" class="switch is-success" checked="checked" disabled>
  <label for="switchColorSuccess">Switch success</label>
</div>

<div class="field">
  <input id="switchColorWarning" type="checkbox" name="switchColorWarning" class="switch is-warning" checked="checked" disabled>
  <label for="switchColorWarning">Switch warning</label>
</div>

<div class="field">
  <input id="switchColorDanger" type="checkbox" name="switchColorDanger" class="switch is-danger" checked="checked" disabled>
  <label for="switchColorDanger">Switch danger</label>
</div>

<div class="field">
  <input id="switchColorInfo" type="checkbox" name="switchColorInfo" class="switch is-info" checked="checked" disabled>
  <label for="switchColorInfo">Switch info</label>
</div>
{% endcapture %}

{% include_relative subnav-bulma-extensions.html %}

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title">Switch</h1>
        <h2 class="subtitle">
          Display classic <strong>checkbox</strong> as a switch button, in different colors, sizes, and states
        </h2>
      </div>
      <div class="column is-narrow">
        <div class="field is-grouped is-grouped-multiline">
          <div class="control">
            <a class="tags has-addons" href="https://github.com/Wikiki/bulma-switch" target="_blank">
              <span class="tag">View on Github</span>
              <span class="tag is-dark">
                <span class="icon">
                  <i class="fa fa-github"></i>
                </span>
              </span>
            </a>
          </div>
          <div class="control">
            <a class="tags has-addons" href="https://www.npmjs.com/package/bulma-switch" target="_blank">
              <span class="tag">NPM Package</span>
              <span class="tag is-success">{{ page.npm-version }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    {%
      include meta.html
      colors=true
      sizes=true
      variables=true
    %}

    <hr>

    <div class="columns">
      <div class="column">
        {{switch_example}}
      </div>
      <div class="column">
        {% highlight html %}{{switch_example}}{% endhighlight %}
      </div>
    </div>

    <hr>
    <p>Use <code>is-rtl</code> to display a right-to-left design of checkbox (text at left)</p>
    <br />
    <div class="columns">
      <div class="column">
        {{switch_rtl_example}}
      </div>
      <div class="column">
        {% highlight html %}{{switch_rtl_example}}{% endhighlight %}
      </div>
    </div>


    <div class="has-text-centered has-text-danegr">
      <p>Don't forget to set <code>id</code> attribute on input and <code>for</code> attribute on label with the same value to get it work. This will link the label to the checkbox and then handle the click.</p>
    </div>
    <br />

    <div class="notification is-warning has-text-centered">
      <p>Please note that due to <strong>CSS limitation</strong> the structure of the checkbox is different of the one provided as exxample in Bulma's documentation.<br /><i>(Input is not wrapped by the label)</i></p>
    </div>

    {% include anchor.html name="Colors" %}
    <div class="columns">
      <div class="column">
        {{switch_colors_example}}
      </div>
      <div class="column">
        {% highlight html %}{{switch_colors_example}}{% endhighlight %}
      </div>
    </div>

    {% include anchor.html name="Sizes" %}

    <div class="columns">
      <div class="column">
        {{switch_sizes_example}}
      </div>
      <div class="column">
        {% highlight html %}{{switch_sizes_example}}{% endhighlight %}
      </div>
    </div>

    <hr>

    <h3 class="title">Styles</h3>
    <h4 class="subtitle">Thin</h4>
    <div class="columns">
      <div class="column">
        {{switch_thin_colors_example}}
      </div>
      <div class="column">
        {% highlight html %}{{switch_thin_colors_example}}{% endhighlight %}
      </div>
    </div>

    <h4 class="subtitle">Rounded</h4>
    <div class="columns">
      <div class="column">
        {{switch_rounded_example}}
      </div>
      <div class="column">
        {% highlight html %}{{switch_rounded_example}}{% endhighlight %}
      </div>
    </div>

    <h4 class="subtitle">Outlined</h4>
    <div class="columns">
      <div class="column">
        {{switch_outlined_example}}
      </div>
      <div class="column">
        {% highlight html %}{{switch_outlined_example}}{% endhighlight %}
      </div>
    </div>

    <h4 class="subtitle">Mixed</h4>
    <div class="columns">
      <div class="column">
        {{switch_rounded_outlined_example}}
      </div>
      <div class="column">
        {% highlight html %}{{switch_rounded_outlined_example}}{% endhighlight %}
      </div>
    </div>

    <hr>

    <h3 class="title">States</h3>
    <h4 class="subtitle">Disabled</h4>
    <div class="columns">
      <div class="column">
        {{switch_colors_disabled_example}}
      </div>
      <div class="column">
        {% highlight html %}{{switch_colors_disabled_example}}{% endhighlight %}
      </div>
    </div>

    {% include variables.html %}
  </div>
</div>
