<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top route-documentation">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Set of missing Bulma.io functionalities provided as SASS / JavaScript extensions.">

  <title>QuickView | Bulma-Extensions</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  
  
  
  <link rel="stylesheet" href="https://wikiki.github.io/css/documentation.css?v=201910242021">

  <link rel="canonical" href="https://wikiki.github.io/components/quickview/">
  <link rel="alternate" type="application/rss+xml" title="Bulma-Extensions" href="https://wikiki.github.io/feed.xml">

  <meta property="og:url" content="https://wikiki.github.io">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Bulma-Extensions">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta property="og:description" content="Set of missing Bulma.io functionalities provided as SASS / JavaScript extensions.">

  <link rel="apple-touch-icon" sizes="180x180" href="https://wikiki.github.io/favicons/apple-touch-icon.png?v=201701041855">
  <link rel="icon" type="image/png" href="https://wikiki.github.io/favicons/favicon-32x32.png?v=201701041855" sizes="32x32">
  <link rel="icon" type="image/png" href="https://wikiki.github.io/favicons/favicon-16x16.png?v=201701041855" sizes="16x16">
  <link rel="manifest" href="https://wikiki.github.io/favicons/manifest.json?v=201701041855">
  <link rel="mask-icon" href="https://wikiki.github.io/favicons/safari-pinned-tab.svg?v=201701041855" color="#00d1b2">
  <link rel="shortcut icon" href="https://wikiki.github.io/favicons/favicon.ico?v=201701041855">
  <meta name="msapplication-config" content="https://wikiki.github.io/favicons/browserconfig.xml?v=201701041855">
  <meta name="theme-color" content="#00d1b2">
</head>

  <body class="layout-documentation page-components">
    <nav id="navbar" class="navbar is-fixed-top ">
  <div id="specialShadow" class="bd-special-shadow"></div>

  <div class="container">

  <div class="navbar-brand">
    <a class="navbar-item" href="https://wikiki.github.io">
      <strong>Bulma-Extensions</strong>
    </a>

    <a class="navbar-item is-hidden-desktop" href="https://github.com/wikiki/bulma-extensions" target="_blank">
      <span class="icon" style="color: #333;">
        <i class="fa fa-lg fa-github"></i>
      </span>
    </a>

    <div id="navbarBurger" class="navbar-burger burger" data-target="navMenu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navMenu" class="navbar-menu">
    <div class="navbar-start">
    </div>

    <div class="navbar-end">
      <a class="navbar-item is-hidden-desktop-only" href="https://github.com/wikiki/bulma-extensions" target="_blank">
        <span class="icon" style="color: #333;">
          <i class="fa fa-lg fa-github"></i>
        </span>
      </a>

      <div class="navbar-item">
        <a class="is-hidden-desktop-only tags has-addons is-small" href="https://www.npmjs.com/package/bulma-extensions" target="_blank">
          <span class="tag">npm</span>
          <span class="tag is-dark">6.2.4</span>
        </a>
      </div>

      <div class="navbar-item">
        <a href='https://ko-fi.com/wikiki' target='_blank'><img height='36' style='border:0px;height:36px;' src='https://az743702.vo.msecnd.net/cdn/kofi1.png?v=0' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a>
      </div>
    </div>
  </div>

  </div>
</nav>

    <section class="hero is-link">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column">
          <p class="title">
            Documentation
          </p>
          <p class="subtitle">
            Everything you need to start with Bulma-extensions.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="hero-foot">
    <div class="container">
      <nav class="tabs is-boxed">
        <ul>
          <li >
            <a href="https://wikiki.github.io">Overview</a>
          </li>
          <li >
            <a href="https://wikiki.github.io/layout/divider/">Layout</a>
          </li>
          <li >
            <a href="https://wikiki.github.io/form/checkradio">Form</a>
          </li>
          <li >
            <a href="https://wikiki.github.io/elements/badge/">Elements</a>
          </li>
          <li class="is-active">
            <a href="https://wikiki.github.io/components/accordion/">Components</a>
          </li>
        </ul>
        </nav>
      </div>
    </div>
  
</section>

    <nav id="navbar" class="navbar is-fixed-top ">
  <div id="specialShadow" class="bd-special-shadow"></div>

  <div class="container">

  <div class="navbar-brand">
    <a class="navbar-item" href="https://wikiki.github.io">
      <strong>Bulma-Extensions</strong>
    </a>

    <a class="navbar-item is-hidden-desktop" href="https://github.com/wikiki/bulma-extensions" target="_blank">
      <span class="icon" style="color: #333;">
        <i class="fa fa-lg fa-github"></i>
      </span>
    </a>

    <div id="navbarBurger" class="navbar-burger burger" data-target="navMenuDocumentation">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navMenuDocumentation" class="navbar-menu">
    <div class="navbar-start">
    </div>

    <div class="navbar-end">
      <a class="navbar-item is-hidden-desktop-only" href="https://github.com/wikiki/bulma-extensions" target="_blank">
        <span class="icon" style="color: #333;">
          <i class="fa fa-lg fa-github"></i>
        </span>
      </a>

      <div class="navbar-item">
        <a class="is-hidden-desktop-only tags has-addons is-small" href="https://www.npmjs.com/package/bulma-extensions" target="_blank">
          <span class="tag">npm</span>
          <span class="tag is-dark">6.2.4</span>
        </a>
      </div>

      <div class="navbar-item">
        <a href='https://ko-fi.com/wikiki' target='_blank'><img height='36' style='border:0px;height:36px;' src='https://az743702.vo.msecnd.net/cdn/kofi1.png?v=0' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a>
      </div>
    </div>
  </div>

  </div>
</nav>


<nav class="navbar has-shadow">
  <div class="container">
    <div class="navbar-tabs">
      <a class="navbar-item is-tab " href="https://wikiki.github.io/components/accordion/">
        Accordion
      </a>
      <a class="navbar-item is-tab " href="https://wikiki.github.io/components/calendar/">
        Calendar
      </a>
      <a class="navbar-item is-tab " href="https://wikiki.github.io/components/carousel/">
        Carousel
      </a>
      <a class="navbar-item is-tab " href="https://wikiki.github.io/components/pricingtable/">
        Pricing table
      </a>
      <a class="navbar-item is-tab is-active" href="https://wikiki.github.io/components/quickview/">
        Quickview
      </a>
      <a class="navbar-item is-tab " href="https://wikiki.github.io/components/steps/">
        Steps
      </a>
      <a class="navbar-item is-tab " href="https://wikiki.github.io/components/timeline/">
        Timeline
      </a>
    </div>
  </div>
</nav>






<div id="quickviewDefault" class="quickview">
  <header class="quickview-header">
    <p class="title">Quickview title</p>
    <span class="delete" data-dismiss="quickview"></span>
  </header>

  <div class="quickview-body">
    <div class="quickview-block">
      ...
    </div>
  </div>

  <footer class="quickview-footer">

  </footer>
</div>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title">QuickView</h1>
        <h2 class="subtitle">
          Display a quick view of data without leaving the current page
        </h2>
      </div>
      <div class="column is-narrow">
        <div class="field is-grouped is-grouped-multiline">
          <div class="control">
            <a class="tags has-addons" href="https://github.com/Wikiki/bulma-quickview" target="_blank">
              <span class="tag">View on Github</span>
              <span class="tag is-dark">
                <span class="icon">
                  <i class="fa fa-github"></i>
                </span>
              </span>
            </a>
          </div>
          <div class="control">
            <a class="tags has-addons" href="https://www.npmjs.com/package/bulma-quickview" target="_blank">
              <span class="tag">NPM Package</span>
              <span class="tag is-success">2.0.0</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div id="meta" class="field is-grouped is-grouped-multiline">

  

  

  

  <div class="control">
    <div class="tags has-addons">
      <span class="tag">Colors</span>
      
        <span class="tag is-danger">No</span>
      
    </div>
  </div>

  <div class="control">
    <div class="tags has-addons">
      <span class="tag">Sizes</span>
      
        <span class="tag is-danger">No</span>
      
    </div>
  </div>

  <div class="control">
    <div class="tags has-addons">
      <span class="tag">Javascript</span>
      
        <a class="tag is-success" href="#javascript">Yes</a>
      
    </div>
  </div>

  <div class="control">
    <div class="tags has-addons">
      <span class="tag">Variables</span>
      
        <a class="tag is-success" href="#variables">Yes</a>
      
    </div>
  </div>
</div>


    <hr>

    <button class="button is-primary" data-show="quickview" data-target="quickviewDefault">Show quickview</button>

    <hr style="margin-bottom: 0;">

<h3 id="javascript" class="title is-4 is-spaced bd-anchor-title">
  Javascript
  <a class="bd-anchor-link" href="#javascript">
    #
  </a>
</h3>

    <div id="squickviewsExample" class="message is-info">
      <h4 class="message-header">Javascript</h4>
      <div class="message-body">
        <div class="content">
          <p>
            The extension comes with a JavaScript implementation to display / close the quickview. Don't forget to include it in your project.
          </p>

          <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">id=</span><span class="s">"quickviewDefault"</span> <span class="na">class=</span><span class="s">"quickview"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;header</span> <span class="na">class=</span><span class="s">"quickview-header"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"title"</span><span class="nt">&gt;</span>Quickview title<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"delete"</span> <span class="na">data-dismiss=</span><span class="s">"quickview"</span><span class="nt">&gt;&lt;/span&gt;</span>
  <span class="nt">&lt;/header&gt;</span>

  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"quickview-body"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"quickview-block"</span><span class="nt">&gt;</span>
      ...
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>

  <span class="nt">&lt;footer</span> <span class="na">class=</span><span class="s">"quickview-footer"</span><span class="nt">&gt;</span>

  <span class="nt">&lt;/footer&gt;</span>
<span class="nt">&lt;/div&gt;</span>

<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"button is-primary"</span> <span class="na">data-show=</span><span class="s">"quickview"</span> <span class="na">data-target=</span><span class="s">"quickviewDefault"</span><span class="nt">&gt;</span>Show quickview<span class="nt">&lt;/button&gt;</span></code></pre></figure>

          <figure class="highlight"><pre><code class="language-javascript" data-lang="javascript"><span class="o">&lt;</span><span class="nx">script</span> <span class="nx">type</span><span class="o">=</span><span class="dl">"</span><span class="s2">text/javascript</span><span class="dl">"</span> <span class="nx">src</span><span class="o">=</span><span class="dl">"</span><span class="s2">/node_modules/bulma-quickview/dist/bulma-quickview.min.js</span><span class="dl">"</span><span class="o">&gt;&lt;</span><span class="sr">/script&gt;</span></code></pre></figure>

          <p>Then just add the following code once your DOM's ready:</p>
          <figure class="highlight"><pre><code class="language-javascript" data-lang="javascript"><span class="kd">var</span> <span class="nx">quickviews</span> <span class="o">=</span> <span class="nx">bulmaQuickview</span><span class="p">.</span><span class="nx">attach</span><span class="p">();</span> <span class="c1">// quickviews now contains an array of all Quickview instances</span></code></pre></figure>
        </div>
      </div>
    </div>

    <hr style="margin-bottom: 0;">

<h3 id="variables" class="title is-4 is-spaced bd-anchor-title">
  Variables
  <a class="bd-anchor-link" href="#variables">
    #
  </a>
</h3>


<div class="content">
  <p>
    You can use these variables to <strong>customize</strong> this component. Simply set one or multiple of these variables <em>before</em> importing Bulma. <a href="https://bulma.io/documentation/customize/">Learn how</a>.
  </p>
</div>

<table class="table is-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Default value</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>Name</th>
      <th>Default value</th>
    </tr>
  </tfoot>
  <tbody>
    
      <tr>
        <td>
          <code>$quickview-shadow</code>
        </td>
        <td>
          <code>5px 0px 13px 3px rgba( 0, 0, 0, 0.1 )</code>
        </td>
      </tr>
    
      <tr>
        <td>
          <code>$quickview-divider</code>
        </td>
        <td>
          <code>1px solid $grey-lighter</code>
        </td>
      </tr>
    
  </tbody>
</table>

  </div>
</section>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bulma-quickview@2.0.0/dist/js/bulma-quickview.min.js">
</script>
<script>
  bulmaQuickview.attach();
</script>

    <footer class="footer">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half has-text-centered">
        <p id="tsp">
          <a href="https://bulma.io" target="_blank">
            <img src="https://wikiki.github.io/images/made-with-bulma.png" alt="Made with Bulma" width="128" height="24">
          </a>
          <small>
            Source code licensed <a href="https://opensource.org/licenses/mit-license.php">MIT</a>.
          </small>
        </p>
        <br />
        <a href='https://ko-fi.com/wikiki' target='_blank'><img height='36' style='border:0px;height:36px;' src='https://az743702.vo.msecnd.net/cdn/kofi1.png?v=0' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a>
      </div>
    </div>
  </div>
</footer>

<script src="https://wikiki.github.io/vendor/clipboard-1.7.1.min.js"></script>
<script src="https://wikiki.github.io/js/main.js?v=201910242021"></script>

<script async defer type="text/javascript">
  (function() {
    window.fnames = new Array();
    window.ftypes = new Array();
    fnames[0]='EMAIL';
    ftypes[0]='email';
  }());
  // var $mcj = window.jQuery.noConflict(true);
</script>

  </body>
</html>
