<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ site.fontawesome }}">
    <link rel="stylesheet" href="documentation.css">

    <title>Extensions for Bulma.io</title>
  </head>

  <body>
    <section class="hero is-primary is-medium">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column">
              <h1 class="title">
                Extensions for <a href="http://bulma.io">Bulma.io</a>
              </h1>
              <h2 class="subtitle">
                A set of extension to improve Bulma
              </h2>
            </div>
          </div>
        </div>
      </div>
    </section>

    {{ content }}
  </body>
</html>
