<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ site.fontawesome }}">
    <link rel="stylesheet" href="documentation.css">

    <title>Extensions for Bulma.io</title>
  </head>

  <body>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column">
              <h1 class="title has-text-centered">
                {{ page.title }}
              </h1>
              <h2 class="subtitle has-text-centered">
                {{ page.subtitle }}
              </h2>
            </div>
          </div>
        </div>
      </div>
      <div class="hero-foot">
        
      </div>
    </section>

    {{ content }}
  </body>
</html>
